n8n_data_backup_20250731_1131/n8n_data/exported_workflows.json
[{"createdAt":"2025-05-08T11:22:19.797Z","updatedAt":"2025-05-09T11:43:50.968Z","id":"Xrk1u56J4TrXCr2k","name":"My workflow 2","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-620,540],"id":"b069e8e4-2b14-4b44-b363-2c04e3d72c55","name":"When chat message received","webhookId":"14fdc21c-4c25-48bd-bd45-58fd0ba2b11b"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-400,540],"id":"0f3e867b-ba3b-4154-9eec-f61a87ce3950","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-560,800],"id":"038e4f57-2d84-4f06-a886-85a5d21864c2","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"RgYZW8U9XwYGxvB7","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-360,800],"id":"0b4a49ff-67a0-48d2-bf5a-f71839458fd5","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"w9VxWhhTGW04cOgN","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1020,800],"id":"525c2b17-738e-4d55-a37c-8466018c7b70","name":"Embeddings OpenAI","disabled":true},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1200,800],"id":"56eb9ef4-b8fb-46e4-9dbb-15b750085478","name":"Default Data Loader","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1200,1000],"id":"56c11abf-6eb6-40fb-a593-545470e02283","name":"Recursive Character Text Splitter","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[720,580],"id":"a6663b56-d2cf-4880-b69c-544f13857243","name":"When clicking ‘Test workflow’","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-140,960],"id":"9c587d8d-73da-4f5e-9b42-db7a97e4d676","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"RgYZW8U9XwYGxvB7","name":"OpenAi account"}}},{"parameters":{"content":"# Avantages\n\n👉🏻 Créer un ChatGPT sur ses documents \n\n👉🏻 Connection simple avec Google Drive\n\n👉🏻 Mémoire connectée\n\n👉🏻 Workflow réutilisable\n\nPour mettre en place votre Agent IA : https://tally.so/r/nPGgaP\n\nPour rejoindre la communauté : https://www.skool.com/paname-automatise-agents-ia-8611/about?ref=b24e8bcce9234b459d31562f74b21f3c","height":360,"width":700,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"06e0570b-37c1-4a87-a1ce-3ab74da2072f","name":"Sticky Note5"},{"parameters":{"content":"## Interroger la base de données","height":760,"width":980},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-820,460],"id":"525fbb91-be00-466c-8fb3-51160b399f86","name":"Sticky Note"},{"parameters":{"content":"## Ajouter un document","height":760,"width":980},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[620,440],"id":"77c300ce-2c50-4837-aa4c-f56b44e7a86f","name":"Sticky Note1"},{"parameters":{"mode":"retrieve-as-tool","toolName":"QdrantLocal","toolDescription":"Recherche de documents dans la collection \"questions\" à partir d'un embedding généré par OpenAI\n","qdrantCollection":{"__rl":true,"value":"questions","mode":"list","cachedResultName":"questions"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-160,740],"id":"5825f9ab-15fb-49bc-8b6c-dbb5f758d8d5","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"FpRrabeqEMhxwzJ8","name":"QdrantApi account"}}},{"parameters":{},"type":"n8n-nodes-base.nextCloud","typeVersion":1,"position":[880,580],"id":"e5c9cac1-518d-4133-b261-5b835304c949","name":"Nextcloud","credentials":{"nextCloudApi":{"id":"TOnopeSL2YM7Akb1","name":"NextCloud account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1160,580],"id":"0f9d1513-3ca3-492b-997a-98f04ecf3a78","name":"Supabase Vector Store1","disabled":true}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Nextcloud","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Qdrant Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"167d0a38-ff20-48b3-88f5-b72cb118f7ed","triggerCount":0,"tags":[{"createdAt":"2025-05-08T11:17:44.005Z","updatedAt":"2025-05-08T11:17:44.005Z","id":"DJdL84aISxdOoEQE","name":"N8N Course"}]},{"createdAt":"2025-05-14T16:32:54.379Z","updatedAt":"2025-05-14T16:38:59.443Z","id":"VKp8xekB1b0vwvrJ","name":"My workflow 5","active":true,"nodes":[{"parameters":{"public":true,"initialMessages":"Bonjour, je suis Garnus. Pour t'aider, j'ai besoin de ton elo dans ton premier message.","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"351d6c9c-3fbb-41e4-9eb7-1fc58b8bc463","name":"When chat message received","webhookId":"webhook_garnus"},{"parameters":{"options":{"systemMessage":"IMPORTANT : Tu n'es pas autorisé à répondre à une question sans avoir récupéré une réponse à partir du tool nommé `KB_chessplorer`. Si aucune information utile n'est renvoyée, dis uniquement : 'Je suis navré, je n’ai pas encore été entraîné pour répondre à cette question.'\n\nTu es Garnus, un coach fictif, combinaison de Kasparov et Carlsen. Réponds uniquement sur la base des documents du vector store. Refuse les questions hors sujet. Ton doit varier selon le niveau Elo (complice <800, motivant 800–1200, exigeant >1200). Pas plus de 300 mots. Pas d’intro ni de conclusion. Markdown strict. Strict respect de la typographie française (seul le premier mot a une majuscule, pas de majuscule après deux poins (\":\")."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[220,0],"id":"3bfd8072-cb65-458a-a1c9-79e9f60398f1","name":"AI Agent"},{"parameters":{"mode":"retrieve-as-tool","toolName":"KB_chessplorer","toolDescription":"Run this tool when you need information from our knowledge base.","tableName":{"__rl":true,"value":"documents","mode":"list"},"topK":1,"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[360,240],"id":"b7abd816-8cf6-4cd6-9fc1-e4908d6899fa","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"oDc8k22rMbU7X0Uu","name":"Supabase vector base"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[360,420],"id":"7b37d1b9-f444-4cbc-99c2-ef90f0604e74","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"RgYZW8U9XwYGxvB7","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-100,260],"id":"2a059b6b-94a6-475a-a010-5b6ec89d0d0a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"RgYZW8U9XwYGxvB7","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[60,260],"id":"94347b25-8b31-4de2-833c-09ef83d30aeb","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"UUCnU0ADAlCt8HYe","name":"Postgres Supa"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f5545a32-492a-4265-a2ce-9a78873e4e8f","triggerCount":1,"tags":[]},{"createdAt":"2025-05-11T05:54:13.024Z","updatedAt":"2025-05-11T05:54:13.024Z","id":"qOG4rgAfcNR9jkeE","name":"agent_km_test","active":false,"nodes":[],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"43dd28e3-f0e9-4663-9b32-6195715f0d30","triggerCount":0,"tags":[]},{"createdAt":"2025-05-14T11:57:54.848Z","updatedAt":"2025-05-14T16:25:38.205Z","id":"7lFX7jVnp1VnQy1Y","name":"tests rag supa","active":true,"nodes":[{"parameters":{"public":true,"initialMessages":"Bonjour, \n\nJe suis Garnus, un coach d'échecs fictif, à la croisée de Gary Kasparov et de Magnus Carlsen. \n\nMes réponses s'appuient sur une base de connaissance spécialement conçue pour t'aider. Pour fournir les réponses les plus adaptées à ton contexte, **j'ai besoin de ton niveau elo dans ton premier message**. Tu peux aussi me donner ton prénom/pseudo si tu le souhaites.\n\nQuel est ton elo et comment puis-je t'aider aujourd'hui ? ","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"285c5e23-92aa-40a3-9617-9f5b0c037bea","name":"When chat message received","webhookId":"4e208586-18c2-486b-bf4b-5bffb87a32f3"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-100,260],"id":"7a6babf3-6aa8-4948-a7f8-c61664af71fb","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"RgYZW8U9XwYGxvB7","name":"OpenAi account"}}},{"parameters":{"options":{"systemMessage":"# IMPORTANT : Tu n'es pas autorisé à répondre à une question sans avoir récupéré une réponse à partir du tool nommé `KB_chessplorer`. Si le résultat du tool ne contient pas de données utiles, réponds uniquement : « Je suis navré, je n’ai pas encore été entraîné pour répondre à cette question. »\n\n\n# 🎯 Objectif\n\nRépondre automatiquement aux questions d'utilisateurs via un chatbot destiné à des joueurs d'échecs humains, en incarnant une personnalité originale inspirée de deux champions.\n\n# 🧩 Contexte\n\nTu es **Garnus**, un coach d’échecs fictif, fusion entre Garry Kasparov (rigueur stratégique) et Magnus Carlsen (intuition tranchante, ton direct, humour sec).\n\n# 🧠 Comportement\n\n* Tu alternes entre deux styles :\n\n  * 💬 Style direct : réponses courtes, concrètes, parfois ironiques.\n  * 🧠 Style stratégique : raisonnements profonds, clairs, structurés.\n* Tu **n’annonces jamais** que tu passes d’un style à l’autre.\n* Tu t’adresses à des adultes motivés. Évite les banalités, le ton scolaire ou les listes.\n* Utilise des analogies concrètes, des constats utiles et des punchlines quand pertinent.\n\n# 🔧 Tâches attendues\n\n* Vérifie que les variables `{prenom}` et `{elo}` sont bien fournies.\n* Si l’une des deux est absente, retourne une erreur claire :\n  **Ex.** : « Impossible de répondre avec pertinence sans connaître ton niveau Elo. »\n* Si la question est manifestement hors sujet (non liée aux échecs) ou contient du contenu inapproprié (violence, sexualité, propos haineux), refuse de répondre avec un message clair et ferme.\n* Si la question dépasse un seuil raisonnable de longueur (prompt trop long), invite à reformuler plus simplement.\n* Réponds à la question en adaptant le ton selon le niveau Elo :\n\n| Elo utilisateur | Ton attendu                    |\n| --------------- | ------------------------------ |\n| <800            | Complice, encourageant, simple |\n| 800–1200        | Direct, motivant, structuré    |\n| >1200           | Stratégique, exigeant, précis  |\n\n# 📐 Contraintes\n\nChaque réponse :\n\n1. S'appuie exclusivement sur la base de connaissances (Supabase) s'il n'y a pas de réponse à la question, tu réponds \"Je suis navré, je n'ai pas encore été entraîné pour répondre à cette question\".\n2. Est autonome (aucun contexte extérieur requis).\n3. Contient moins de **300 mots**.\n4. Utilise un vocabulaire adapté au niveau Elo.\n5. Intègre des exemples concrets si utiles.\n6. Va droit au but, sans introduction ni conclusion générale.\n7. Refuse poliment de répondre aux questions hors sujet ou inappropriées, et aux requêtes excessivement longues.\n\n# 🎭 Style\n\n* Ton adulte, jamais académique.\n* Factuel, exigeant mais jamais condescendant.\n* Ne parle jamais de ta démarche ou de ta personnalité.\n\n# 📝 Format attendu\n\n```markdown\n{{prenom}}, voici ma réponse pour ton niveau actuel :\n\n[Ton adapté au niveau, réponse <300 mots, issue de Supabase. La typographie respecte strictement celle de la langue française et notamment dans l'usage des majuscules - il n'y en a pas après les \":\".]\n\n_Est-ce que cela répond à ta question ?_\n```\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[220,0],"id":"411759f5-dd3f-4e48-ac7d-7c3a47fefe97","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[60,260],"id":"8055df26-227c-4698-a0ec-01bf5e30fd79","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"UUCnU0ADAlCt8HYe","name":"Postgres Supa"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"KB_chessplorer","toolDescription":"Run this tool when you need informations from our knowledge base.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"topK":2,"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[360,240],"id":"5737538d-9a4b-4fbf-8532-d77d7bbbdffb","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"oDc8k22rMbU7X0Uu","name":"Supabase vector base"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[360,420],"id":"0844732a-dd4d-4b3f-83ad-3e145fa995a7","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"RgYZW8U9XwYGxvB7","name":"OpenAi account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7fc55a72-30c1-47ad-8088-03b1a0bf56e9","triggerCount":1,"tags":[]},{"createdAt":"2025-05-03T11:29:16.640Z","updatedAt":"2025-05-09T09:13:02.043Z","id":"6fTzfQpdlmww5szb","name":"FAQ-chessp","active":false,"nodes":[{"parameters":{"batchSize":1,"options":{}},"id":"f32441ac-18d7-49cd-b573-1b3ab911bbfc","name":"Split en questions","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[420,320]},{"parameters":{"options":{}},"id":"e5c4e773-e1af-4c59-a3f4-40b3d14ab2d6","name":"Préparer prompt GPT","type":"n8n-nodes-base.set","typeVersion":3,"position":[580,320]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","options":{}},"id":"7b109eed-553e-4f25-8f8f-47a30d70f32a","name":"Appel GPT - 3 Réponses Elo","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[780,320]},{"parameters":{"functionCode":"const raw = $json.choices[0].message.content;\nconst parts = raw.split(/\\n?\\d\\.\\sRéponse pour les joueurs.*?\\n/).filter(p => p.trim() !== '');\n\nreturn [\n  {\n    json: {\n      question: $node[\"Préparer prompt GPT\"].json[\"texte\"],\n      elo_0_1200: parts[0]?.trim() || '',\n      elo_1200_1600: parts[1]?.trim() || '',\n      elo_1600_plus: parts[2]?.trim() || ''\n    }\n  }\n];"},"id":"d6fb7cd5-5aae-42cd-b7bb-9236f86660cd","name":"Découpe Réponses Elo","type":"n8n-nodes-base.function","typeVersion":1,"position":[980,320]},{"parameters":{"fileName":"reponses_formatees.json","dataPropertyName":"={{ JSON.stringify($json) }}","options":{}},"id":"4f0a6b21-c740-4cd3-a270-94db69b07417","name":"Sauvegarde (fichier)","type":"n8n-nodes-base.writeBinaryFile","typeVersion":1,"position":[1180,320]},{"parameters":{"content":"📌 Lecture JSON de questions, génération via GPT-4 des 3 tranches Elo dans une seule requête, découpe et sauvegarde formatée.","height":320,"width":620},"id":"6bba62b2-d0e0-4c02-896e-5ac8ff817aa4","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-20,120]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-100,320],"id":"8871085b-dc4a-4f57-9e4f-47cdd35812d0","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://drive.google.com/uc?export=download&id=1jvuc8DEDlm0YUOjZhrDFrOc-PenTEHFx","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,320],"id":"8af0ccf5-a977-43da-b061-96cb6d587862","name":"HTTP Request","alwaysOutputData":false},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[220,320],"id":"ca7bf852-2bf2-47ce-8026-48de3e9f5436","name":"Extract from File"}],"connections":{"Split en questions":{"main":[[{"node":"Préparer prompt GPT","type":"main","index":0}]]},"Préparer prompt GPT":{"main":[[{"node":"Appel GPT - 3 Réponses Elo","type":"main","index":0}]]},"Appel GPT - 3 Réponses Elo":{"main":[[{"node":"Découpe Réponses Elo","type":"main","index":0}]]},"Découpe Réponses Elo":{"main":[[{"node":"Sauvegarde (fichier)","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Extract from File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2f17203c-d702-43e5-ab34-59eaa418ee67","triggerCount":0,"tags":[]},{"createdAt":"2025-05-09T11:54:13.788Z","updatedAt":"2025-05-09T13:27:15.074Z","id":"GDga5CWyS8KBjYhX","name":"My workflow 2","active":false,"nodes":[{"parameters":{},"id":"c313beb7-db5f-4272-84c2-ff22cb2944c2","name":"Déclencheur Manuel","type":"n8n-nodes-base.manualTrigger","position":[620,420],"typeVersion":1},{"parameters":{"content":"📂 Ce workflow traite tous les fichiers PDF du dossier `chessplorer/sources/pdf/waiting` sur Nextcloud.","height":250,"width":500},"id":"8e93b09d-a19f-4a79-8689-e813f756d4c1","name":"Note : Source PDF Nextcloud","type":"n8n-nodes-base.stickyNote","position":[320,220],"typeVersion":1},{"parameters":{"resource":"folder","operation":"list","path":"/chessplorer/sources/pdf/waiting"},"id":"7a8257c6-92d7-489b-adc6-afaa3d94be00","name":"Lister fichiers Nextcloud","type":"n8n-nodes-base.nextCloud","position":[820,420],"typeVersion":1,"credentials":{"nextCloudApi":{"id":"TOnopeSL2YM7Akb1","name":"NextCloud account"}}},{"parameters":{"operation":"download","path":"={{ $json.path }}"},"id":"762f0d9a-3e9e-49c9-9e66-62dfeca310c3","name":"Télécharger PDF","type":"n8n-nodes-base.nextCloud","position":[1020,420],"typeVersion":1},{"parameters":{"operation":"pdf","options":{}},"id":"3e0e073f-976a-4380-b782-87674569c172","name":"Extraire texte PDF","type":"n8n-nodes-base.extractFromFile","position":[1220,420],"typeVersion":1},{"parameters":{"chunkOverlap":200,"options":{}},"id":"1005fe37-3ff2-4b71-b708-71ebb38ab3b2","name":"Découper texte","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[1420,420],"typeVersion":1},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"7c782312-cae3-4404-afb5-0db911aee6f3","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[1620,420],"typeVersion":1},{"parameters":{"url":"http://localhost:6333/collections/pdf_knowledge/points?wait=true","jsonParameters":true,"options":{}},"id":"c7ca8d4b-3b69-413d-9884-422cc757ac44","name":"Envoyer à Qdrant","type":"n8n-nodes-base.httpRequest","position":[1820,420],"typeVersion":1},{"parameters":{"operation":"executeQuery","query":"INSERT INTO knowledge_metadata (filename, chunk, embedding_id, created_at)\nVALUES ('{{$json.filename || 'unknown.pdf'}}', '{{$json.text}}', '{{$itemIndex}}', NOW());","additionalFields":{}},"id":"89e62169-4a68-4053-a17c-b547735bc0ab","name":"Sauver méta PostgreSQL","type":"n8n-nodes-base.postgres","position":[2020,420],"typeVersion":1},{"parameters":{"content":"🧠 Chaque chunk est vectorisé et envoyé à Qdrant via HTTP REST.\n🗃️ Les métadonnées sont stockées dans PostgreSQL pour audit.","height":300,"width":520},"id":"641581e8-5c85-4a57-966b-6c217b2a2d8d","name":"Note : Indexation & Log","type":"n8n-nodes-base.stickyNote","position":[1620,220],"typeVersion":1}],"connections":{"Déclencheur Manuel":{"main":[[{"node":"Lister fichiers Nextcloud","type":"main","index":0}]]},"Lister fichiers Nextcloud":{"main":[[{"node":"Télécharger PDF","type":"main","index":0}]]},"Télécharger PDF":{"main":[[{"node":"Extraire texte PDF","type":"main","index":0}]]},"Envoyer à Qdrant":{"main":[[{"node":"Sauver méta PostgreSQL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"997b360f-5bb9-4245-bce9-b765cff9595b","triggerCount":0,"tags":[]},{"createdAt":"2025-05-09T13:27:39.311Z","updatedAt":"2025-05-10T18:33:05.905Z","id":"Oi8IoclsrHbqgdSK","name":"My workflow 3","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-240,-40],"id":"0c7b5ddb-3578-42e5-b7e3-5049b14faaf7","name":"When chat message received","webhookId":"f66624cd-49e3-4879-8102-def79a27a433"},{"parameters":{"options":{"systemMessage":"CONTEXT\n---------------\nTu es un agent qui a besoin de réfléchir car tu vas traiter des données complexes en lien avec le jeu d'échecs.\n\nOUTIL\n---------------\nTu disposes d’un outil qui s’appelle “Think”\nThink = L’outil te permet de réfléchir lorsque tu dois traiter des données complexes.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[60,-40],"id":"c413e489-f900-47ae-9bb2-858fe3df0200","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{"maxTokens":1000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-60,200],"id":"8bda6ecb-617b-481e-911a-5f4344206175","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"RgYZW8U9XwYGxvB7","name":"OpenAi account"}}},{"parameters":{"contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[120,200],"id":"53d7418a-b7a8-4cf2-b6fb-f3137b720c50","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"w9VxWhhTGW04cOgN","name":"Postgres account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[300,220],"id":"dafa15af-d711-4bdf-8ee9-bda911f6b14f","name":"Think"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"06ec4786-36e4-4558-ae3e-e0da1f533075","triggerCount":0,"tags":[]},{"createdAt":"2025-05-01T16:25:35.433Z","updatedAt":"2025-05-01T16:25:35.433Z","id":"Iyq2XeoGWOBq5WTH","name":"Demo: My first AI Agent in n8n","active":false,"nodes":[{"parameters":{"options":{}},"id":"5b410409-5b0b-47bd-b413-5b9b1000a063","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[360,20],"webhookId":"a889d2ae-2159-402f-b326-5f61e90f602e"},{"parameters":{"options":{"systemMessage":"=You're a helpful assistant that helps the user answer questions about their calendar.\n\nToday is {{ $now.format('cccc') }} the {{ $now.format('yyyy-MM-dd HH:mm') }}."}},"id":"29963449-1dc1-487d-96f2-7ff0a5c3cd97","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[560,20]},{"parameters":{"content":"## 👋 Welcome to n8n!\nThis example shows how to build an AI Agent that interacts with your \ncalendar.\n\n### 1. Connect your accounts\n- Claim your `free` 0 OpenAI calls in the `OpenAI model` node \n- Connect your Google account in the `Google Calendar` node credentials section\n\n### 2. Ready to test it?\nClick Chat below and start asking questions! For example you can try `What meetings do I have today?`","height":389,"width":319,"color":6},"id":"eae35513-07c2-4de2-a795-a153b6934c1b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"options":{}},"id":"cbaedf86-9153-4778-b893-a7e50d3e04ba","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[520,220]},{"parameters":{},"id":"75481370-bade-4d90-a878-3a3b0201edcc","name":"Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[680,220]},{"parameters":{"content":"### Want to learn more?\nWant to learn more about AI and how to apply it best in n8n? Have a look at our [new tutorial series on YouTube](https://www.youtube.com/watch?v=yzvLfHb0nqE&lc).","height":100,"width":317,"color":6},"id":"907552eb-6e0f-472e-9d90-4513a67a31db","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,400]},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[820,240],"id":"5441b426-2f22-4db6-993e-33371fe3e337","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"UfQR4X03JLkWyWT9","name":"Google Sheets account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"PT1i+zU92Ii5O2XCObkhfHJR5h9rNJTpiCIkYJk9jHU="},"pinData":{},"versionId":"74be9e0f-2811-4b17-848e-6892f32d0760","triggerCount":0,"tags":[]},{"createdAt":"2025-05-28T12:29:43.732Z","updatedAt":"2025-05-28T12:29:43.732Z","id":"5B2laaX7LiCHQQ95","name":"Article_quentin","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"llama-3.1-sonar-small-128k-online\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es un assistant \"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.query.query }}\"\n    }\n  ],\n  \"max_tokens\": 500,\n  \"temperature\": 0.2,\n  \"top_p\": 0.9,\n  \"search_domain_filter\": [\n    \"perplexity.ai\"\n  ],\n  \"return_images\": false,\n  \"return_related_questions\": false,\n  \"search_recency_filter\": \"month\",\n  \"top_k\": 0,\n  \"stream\": false,\n  \"presence_penalty\": 0,\n  \"frequency_penalty\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,20],"id":"ac368e74-7bd4-437f-9993-09f23d828bb6","name":"HTTP Request"},{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[120,20],"id":"4845c0be-8d7f-42b2-a698-83f7367697e1","name":"Execute Workflow Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"b3ba79e2-8693-423a-bbc2-c8c74397ad9e","name":"choices[0].message.content","value":"={{ $json.choices[0].message.content }}\n\nCitations:\n{{ $json.citations }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,20],"id":"fe33a180-10d6-4336-8c07-1ce98623c0c2","name":"Edit Fields"},{"parameters":{"formTitle":"Article IA sous Stéroide","formDescription":"Insère les informations concernant ton article, et regarde la magie opérer ;)","formFields":{"values":[{"fieldLabel":"Le Sujet"},{"fieldLabel":"Nbr Mots"},{"fieldLabel":"Nbr Sections"},{"fieldLabel":"Ton de l'Article"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[80,260],"id":"38b7c3a8-daf9-4c6b-87bd-12848ee0cae7","name":"Form Trigger","webhookId":"5bbb3f3a-24c3-4289-b3d1-9b3770007fff"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[200,500],"id":"ee8df473-3269-4f7a-844d-cfc694b4c4b0","name":"OpenAI Chat Model"},{"parameters":{"model":"gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[520,700],"id":"4c6828f6-f7bd-44ea-abf4-b9bce5c3aabc","name":"OpenAI Chat Model1"},{"parameters":{"promptType":"define","text":"=Sujet de recherche :  {{ $json['Le Sujet'] }}","options":{"systemMessage":"=Vous êtes un Responsable de Recherche spécialisé dans l’analyse approfondie de sujets, la recherche et la structuration de contenus. \n\nVotre tâche est de créer une table des matières enrichie et fondée sur des recherches pour un sujet donné.\n\nSuivez ces étapes :\nAnalysez le sujet fourni de manière approfondie, le sujet est : \"{{ $json['Le Sujet'] }}\".\n\nEffectuez des recherches en ligne pour recueillir des informations, des tendances et des points de vue d'experts actuels sur le sujet.\n\nSynthétisez les informations recueillies pour identifier :\nLes concepts et principes fondamentaux\nLes tendances et développements actuels\nLes opinions d'experts et les meilleures pratiques\nLes applications et exemples concrets\nLes défis potentiels et les solutions\n\nCréez une table des matières complète qui :\nReflète à la fois les connaissances fondamentales et les développements actuels\nIntègre des études de cas et des exemples pertinents\nRépond aux questions et préoccupations courantes\nInclut des applications pratiques et des implications futures\n\nStructurez le contenu de manière hiérarchique, en veillant à :\nUne progression logique et fluide\nDes relations claires entre les sections\nUn équilibre entre les aspects théoriques et pratiques\nL’intégration d’informations fondées sur des recherches\n\nVeuillez formater votre réponse comme suit :\n\nAnalyse du sujet :\n[Résumé bref du sujet et de son importance basée sur les recherches actuelles]\n\nPrincipaux résultats de recherche :\n\n[Résultat 1 provenant de la recherche en ligne]\n[Résultat 2 provenant de la recherche en ligne]\n[Résultat 3 provenant de la recherche en ligne]\n\nProposition de Table des Matières :\n\nI. Introduction\nA. Vue d’ensemble du sujet et pertinence actuelle\nB. Principales tendances et développements\nC. Pourquoi c’est important maintenant\n\nII. Contexte et Historique\nA. Développement historique\nB. Concepts fondamentaux\nC. État actuel du domaine\n\nIII. [Thème principal 1 issu des recherches]\nA. [Résultat clé / Aspect]\nB. [Perspectives d’experts]\nC. [Applications concrètes]\n\nIV. [Thème principal 2 issu des recherches]\nA. [Résultat clé / Aspect]\nB. [Études de cas]\nC. [Implications pratiques]\n\n[Continuer avec des sections supplémentaires basées sur la recherche]\n\nIX. Perspectives futures\nA. Tendances émergentes\nB. Développements potentiels\nC. Recommandations\n\nX. Conclusion\nA. Résumé des points clés\nB. Actions concrètes à mettre en œuvre\nC. Réflexions finales\n\nSources de Recherche :\n[Liste des sources principales consultées]\n\nInstructions d'utilisation :\n\nFournir un sujet spécifique que vous souhaitez analyser.\nL'IA effectuera des recherches en ligne en utilisant des outils disponibles, y compris l'outil de recherche Perplexity.ai.\nSur la base des recherches, elle générera une table des matières complète, actuelle et bien structurée.\nChaque section sera enrichie avec des découvertes récentes et des perspectives d'experts.\nLa structure finale sera adaptée à divers formats de contenu (articles de blog, articles, livres blancs).\nDate d'aujourd'hui : {{ $now}} "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[280,260],"id":"6cdb2773-bbe0-4072-afdb-c6648457e728","name":"Agent Recherche"},{"parameters":{"promptType":"define","text":"=Écrivez le titre, le sous-titre, les détails des chapitres, l'introduction, les conclusions et une proposition d'image pour un article optimisé pour le SEO.\n\nVeuillez utiliser cet ensemble de sujets pour créer les chapitres :{{ $json.fields['Agent Recherche'] }}\n\nInstructions :\n- Placez le titre de l'article dans un champ JSON appelé \"title\".\n- Placez le sous-titre dans un champ JSON appelé \"subtitle\".\n- Placez l'introduction dans un champ JSON appelé \"introduction\".\n- Dans l'introduction, présentez le sujet qui sera ensuite exploré en détail dans le reste du \n\nTexte : \n- L'introduction doit contenir environ 100 mots.\n- Placez les conclusions dans un champ JSON appelé \"conclusions\".\n- Les conclusions doivent contenir environ 100 mots.\n- Utilisez les conclusions pour résumer tout ce qui a été dit dans l'article et offrir une conclusion au lecteur.\n- La proposition d'image servira à produire une image de couverture photographique pour l'article et doit illustrer les sujets abordés dans l'article.\n- Placez la proposition d'image dans un champ JSON appelé \"imagePrompt\".\n- Il doit y avoir {{ $('Form Trigger').item.json['Nbr Sections'] }} chapitres.\n- Pour chaque chapitre, fournissez un titre et une proposition exhaustive qui sera utilisée pour rédiger le contenu du chapitre.\n- Placez les chapitres dans un tableau (array) appelé \"chapters\".\n- Pour chaque chapitre, fournissez les champs \"title\" et \"prompt\".\n- Les chapitres doivent suivre un flux logique et ne pas répéter les mêmes concepts.\n- Les chapitres doivent être liés les uns aux autres et ne pas être des blocs de texte isolés. Le texte doit être fluide et suivre une logique linéaire.\n- Ne commencez pas les chapitres avec « Chapitre 1 », « Chapitre 2 », « Chapitre 3 »... Écrivez simplement le titre du chapitre.\n- Pour le titre et les titres des chapitres, n’utilisez pas de deux-points (:).\n- Pour le texte, utilisez le format HTML.\n- Écrivez dans un style défini par {{ $('Form Trigger').item.json['Ton de l\\'Article'] }} à des informations superficielles.\n\n- Utilisez l'outil perplexity comme source pour faire des recherches sur les sujets nécessaires à la création des chapitres.\n\nLa date d'aujourd'hui est : {{ $now }}.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,480],"id":"092125e5-3897-46ef-a3ff-d253059c995e","name":"Agent Planification"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1120,500],"id":"ddc0a1c9-4692-46d1-89b4-363c3dfc035d","name":"OpenAI Chat Model2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1460,260],"id":"f496d213-589c-4b26-a27b-e9f2da0ae9e6","name":"Merge"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1660,260],"id":"09b7e469-8fb4-4b3a-bb16-948b83cc601f","name":"Code"},{"parameters":{"model":"gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1440,700],"id":"68c48eb2-7ba2-4d23-a28e-57a03159f80b","name":"OpenAI Chat Model3"},{"parameters":{"promptType":"define","text":"={{ $('Agent Recherche').item.json.output }}","options":{"systemMessage":"=Vous êtes un éditeur expert spécialisé dans l’amélioration et le perfectionnement du contenu afin de garantir qu’il répond aux normes de qualité les plus élevées. Votre rôle est de réviser et d'améliorer le contenu écrit produit par plusieurs auteurs, tout en maintenant l'intégrité académique et une attribution correcte des sources. Votre tâche est de fournir un article hautement optimisé pour le SEO, avec une gestion appropriée des citations.\n\nInstructions de révision de contenu :\nLisez attentivement l'intégralité du contenu.\nVérifiez les erreurs de grammaire, d'orthographe et de ponctuation.\nAssurez la cohérence du ton, du style et de la voix tout au long du texte.\nVérifiez que le contenu est conforme au cahier des charges initial et aux exigences du projet.\nAméliorez la structure des phrases et le flux pour une meilleure lisibilité.\nOptimisez les titres, sous-titres et la mise en page pour un meilleur engagement, en particulier pour le SEO.\nProposez des améliorations ou des ajouts pour améliorer la qualité globale du contenu.\nInstructions de gestion des citations :\nPréservez toutes les citations en ligne des auteurs originaux, au format :\n[Source : Auteur/Nom de la publication].\nIdentifiez et supprimez toutes les citations dupliquées dans différentes sections.\nUniformisez les formats de citation si les auteurs ont utilisé différents styles.\nVérifiez que toutes les affirmations citées sont correctement attribuées.\nAssurez-vous que les citations ne perturbent pas la fluidité de la lecture.\nRecoupez toutes les citations en ligne avec leurs liens sources correspondants.\nFormat unifié de documentation des sources :\nCréez une section unique \"Sources\" à la toute fin de l'article (après la section des conclusions).\nFormatez chaque entrée de source de manière cohérente :\n<li><a href=\"[URL]\">[Nom de la publication] - [Titre de l'article]</a></li>\nIncluez pour chaque source :\nNom de la publication/auteur\nTitre de l'article (si disponible)\nURL complète\nDate d'accès (si disponible)\nClassez toutes les sources par ordre alphabétique en fonction du nom de la publication.\nSupprimez toutes les entrées en double.\nVérifiez que tous les liens sont fonctionnels.\n\nDirectives de SEO et de mise en page :\nMaintenez une mise en forme HTML correcte tout au long du document.\nAssurez-vous que les citations ne perturbent pas l'optimisation des mots-clés.\nFormatez la section \"Sources\" avec des balises HTML appropriées.\nUtilisez des balises de titre appropriées (h1, h2, h3) pour structurer le contenu.\nIncluez des méta-descriptions et des balises de titre correctes si nécessaire.\nFormat de sortie :\nL'article révisé doit être structuré comme suit :\n\nContenu principal avec des citations en ligne.\nSection \"Sources\" à la fin de l'article avec tous les liens de référence. Il ne doit y avoir qu'une seule section \"Sources\".\nExigences supplémentaires :\nMaintenir l'intégrité académique tout en assurant une bonne lisibilité.\nÉquilibrer l'optimisation SEO avec des pratiques de citation appropriées.\nS'assurer que les contributions de tous les auteurs sont correctement attribuées.\nPréserver le sens et l'intention originaux du matériel cité.\nCréer des transitions fluides entre les sections écrites par différents auteurs.\nLa date d'aujourd'hui est : {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1460,480],"id":"42a2f191-f1ae-4d02-be73-dd6fde2b122d","name":"écrivain"},{"parameters":{"name":"perplexity","description":"Permet de faire de la recherche en ligne","workflowId":{"__rl":true,"value":"yoeAcG61VKxIy2BA","mode":"list","cachedResultName":"Multi Agent IA Recherche"},"specifyInputSchema":true,"jsonSchemaExample":"{\n\"query\":\"demande\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[340,500],"id":"c5c4497d-dd23-457b-ad07-5c45824eea85","name":"Perplexity"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appEoip0JoZN0WoaQ","mode":"list","cachedResultName":"Multi Agent Recherche","cachedResultUrl":"https://airtable.com/appEoip0JoZN0WoaQ"},"table":{"__rl":true,"value":"tblX9m9kTD7E6paXK","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appEoip0JoZN0WoaQ/tblX9m9kTD7E6paXK"},"columns":{"mappingMode":"defineBelow","value":{"Agent Recherche":"={{ $json.output }}"},"matchingColumns":["Agent Recherche"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Agent Recherche","displayName":"Agent Recherche","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Agent Planification","displayName":"Agent Planification","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Todo","value":"Todo"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false}]},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[600,260],"id":"46c8fc2f-92b4-4824-a4e9-b20bd0d4063f","name":"Airtable"},{"parameters":{"jsonSchemaExample":"{\n  \"title\": \"Mon Titre\",\n  \"subtitle\": \"Mon Sous-Titre\",\n  \"introduction\": \"<p>Une introduction d'environ 100 mots...</p>\",\n  \"chapters\": [\n    {\n      \"title\": \"Premier chapitre\",\n      \"prompt\": \"<p>Contenu détaillé du chapitre...</p>\"\n    },\n    {\n      \"title\": \"Deuxième chapitre\",\n      \"prompt\": \"<p>Contenu détaillé du chapitre...</p>\"\n    }\n  ],\n  \"conclusions\": \"<p>Conclusions d'environ 100 mots...</p>\",\n  \"imagePrompt\": \"Proposition d'image...\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[700,680],"id":"e4ea0266-f320-49a4-a1be-68ba866c5304","name":"Structured Output Parser"},{"parameters":{"fieldToSplitOut":"output.chapters","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[860,260],"id":"fb10e60b-d0b8-45d7-8b5e-c1118c4251a0","name":"Split Out"},{"parameters":{"name":"perplexity","description":"Permet de faire de la recherche en ligne","workflowId":{"__rl":true,"value":"yoeAcG61VKxIy2BA","mode":"list","cachedResultName":"Multi Agent IA Recherche"},"specifyInputSchema":true,"jsonSchemaExample":"{\n\"query\":\"demande\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[1240,500],"id":"b1f62bd2-b4f7-408d-a473-1081708f8a6f","name":"Perplexity1"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appEoip0JoZN0WoaQ","mode":"list","cachedResultName":"Multi Agent Recherche","cachedResultUrl":"https://airtable.com/appEoip0JoZN0WoaQ"},"table":{"__rl":true,"value":"tblX9m9kTD7E6paXK","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appEoip0JoZN0WoaQ/tblX9m9kTD7E6paXK"},"columns":{"mappingMode":"defineBelow","value":{"Agent Recherche":"={{ $json.output }}","Agent Planification":"={{ $json.title }}"},"matchingColumns":["Agent Recherche"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Agent Recherche","displayName":"Agent Recherche","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Agent Planification","displayName":"Agent Planification","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Todo","value":"Todo"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false}]},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[900,480],"id":"65280555-0a99-4c1b-af6e-df7b40780d24","name":"Airtable1"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appEoip0JoZN0WoaQ","mode":"list","cachedResultName":"Multi Agent Recherche","cachedResultUrl":"https://airtable.com/appEoip0JoZN0WoaQ"},"table":{"__rl":true,"value":"tblX9m9kTD7E6paXK","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appEoip0JoZN0WoaQ/tblX9m9kTD7E6paXK"},"columns":{"mappingMode":"defineBelow","value":{"Agent Recherche":"={{ $json.output }}","Agent 3":"={{ $json.output }}"},"matchingColumns":["Agent Recherche"],"schema":[{"id":"Agent Recherche","displayName":"Agent Recherche","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Agent Planification","displayName":"Agent Planification","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Agent 3","displayName":"Agent 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Todo","value":"Todo"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false}]},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1480,60],"id":"e333e271-6d1a-4e55-b206-eb241dbbdf91","name":"Airtable2"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appEoip0JoZN0WoaQ","mode":"list","cachedResultName":"Multi Agent Recherche","cachedResultUrl":"https://airtable.com/appEoip0JoZN0WoaQ"},"table":{"__rl":true,"value":"tblX9m9kTD7E6paXK","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appEoip0JoZN0WoaQ/tblX9m9kTD7E6paXK"},"columns":{"mappingMode":"defineBelow","value":{"Agent Recherche":"={{ $json.output }}","Article Final":"={{ $json.output }}","Status":"Done"},"matchingColumns":["Agent Recherche"],"schema":[{"id":"Agent Recherche","displayName":"Agent Recherche","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Agent Planification","displayName":"Agent Planification","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Agent 3","displayName":"Agent 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Article Final","displayName":"Article Final","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Todo","value":"Todo"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false}]},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1860,480],"id":"c5961f96-f6d1-4d4e-b53e-ef9a99a57916","name":"Airtable3"},{"parameters":{"promptType":"define","text":"Peux tu envoyer un seul email pour indiquer que le workflow à été utilisé.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2120,480],"id":"d8c2cb57-9a60-4484-961c-5832c735e356","name":"AI Agent"},{"parameters":{"sendTo":"quentin@growthsystemes.com","subject":"Nouvelle Recherche","message":"Workflow Réalisé","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[2280,700],"id":"ff269265-5c66-4212-b7e3-c6232123b34f","name":"Gmail","webhookId":"e9339f79-6530-41e3-b959-c99d308f07f7"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2120,700],"id":"5e45f778-23dc-4709-a1f2-48f8eaaaf7ee","name":"OpenAI Chat Model4"},{"parameters":{"content":"","height":420,"width":620},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1880,420],"id":"44642ba1-73b8-46de-ad2c-f0ffa39c07a4","name":"Sticky Note"},{"parameters":{"content":"","height":620,"width":800,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,340],"id":"ee95f5c0-418e-44f7-bc21-8f93f4d93fe1","name":"Sticky Note1"},{"parameters":{"content":"","height":620,"width":540,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[940,340],"id":"5c2d4258-0075-4cdf-8ed5-fec145dd77d3","name":"Sticky Note2"},{"parameters":{"content":"\n","height":820,"width":480,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1500,140],"id":"75b44da1-1d07-42e6-9237-600d902bffb5","name":"Sticky Note3"},{"parameters":{"content":"","height":180,"width":740,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"3a561081-61d1-4aba-b079-cd181c4a4d60","name":"Sticky Note4"},{"parameters":{"operation":"createFromText","content":"={{ $json.fields['Article Final'] }}","name":"=New Article","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1221kiOcfnQS0FoDLi9L4cxf6JFxLNIu_","mode":"list","cachedResultName":"Articles ","cachedResultUrl":"https://drive.google.com/drive/folders/1221kiOcfnQS0FoDLi9L4cxf6JFxLNIu_"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1700,700],"id":"1cb3fef8-480a-468e-bfea-3651918d8100","name":"Google Drive"},{"parameters":{"promptType":"define","text":"=Rédigez un chapitre pour l'article : {{ $('Agent Planification').item.json.output.title }}\n\nRédigez le chapitre intitulé  {{ $json.title }} qui {{ $json.prompt }}.\n\nAssurez-vous d'inclure des citations dans la version finale. Elles sont fournies par l'outil perplexity_ai_search.","options":{"systemMessage":"=Vous êtes un agent d'IA dédié à la recherche, travaillant dans une équipe de recherche sous la direction d'un Responsable de Recherche et d'un Planificateur de Projet. Votre tâche est d'écrire un chapitre dans le cadre d'une recherche globale sur un sujet.\n\nDirectives :\n\nRetournez uniquement le texte brut pour chaque chapitre (sans structure JSON).\nUtilisez l'outil perplexity_ai_search pour rechercher le sujet du chapitre.\nUtilisez le format HTML pour la sortie.\nN’ajoutez pas de titres ou d’en-têtes internes.\nLa longueur de chaque chapitre doit être d’environ {{ Math.round($('Form Trigger').item.json['Nbr Mots'] - 120) / $('Form Trigger').item.json['Nbr Sections']}} mots. Approfondissez le sujet traité, ne vous limitez pas à des informations superficielles.\nInformations contextuelles :\n{{ $itemIndex > 0 ? \"- Le chapitre précédent traite de \" + $input.all()[$itemIndex - 1].json.title : \"\" }}\n{{ $itemIndex > 0 ? \"- Le prompt pour le chapitre précédent est \" + $input.all()[$itemIndex - 1].json.prompt : \"\" }}\n{{ $itemIndex < $input.all().length ? \"- Le chapitre suivant traitera de \" + $input.all()[$itemIndex + 1].json.title : \"\" }}\n{{ $itemIndex < $input.all().length ? \"- Le prompt pour le chapitre suivant est \" + $input.all()[$itemIndex + 1].json.prompt : \"\" }}\n\n\nRègles de rédaction :\n\nPrenez en compte les chapitres précédents et suivants lors de la rédaction de ce chapitre. Le texte doit être cohérent avec les chapitres précédents et suivants.\nCe chapitre ne doit pas répéter les concepts déjà exposés dans le chapitre précédent.\nCe chapitre fait partie d’un article plus large, il ne doit donc pas inclure d’introduction ou de conclusions. Le chapitre doit s'intégrer au reste de l'article.\nRédigez dans un style correspondant à {{ $('Form Trigger').item.json['Ton de l\\'Article'] }}.\nUtilisez l'outil en ligne perplexity_ai_search comme source d'informations pour rédiger le chapitre.\nAssurez-vous d'inclure des citations provenant de l'outil perplexity_ai_search dans votre rédaction.\nDirectives de citation :\n\nUtilisez l'outil perplexity_ai_search pour recueillir des informations et citer les sources.\nPour chaque affirmation importante ou information, incluez une citation hyperliée en ligne.\nFormatez les citations comme des liens HTML avec un texte descriptif :\nExemple : <a href=\"URL\">[Source: Nom de la publication]</a>\n\nLorsque vous citez directement une source, utilisez des guillemets et incluez la citation.\nIntégrez les citations naturellement dans le flux du texte sans perturber la lisibilité.\nAssurez-vous que toutes les informations citées sont pertinentes et soutiennent les points principaux du chapitre.\nVérifiez que les citations sont exactes et proviennent directement des résultats de perplexity_ai_search.\nÉquilibrez le contenu cité avec une analyse et une synthèse originales.\nLorsque vous citez des statistiques ou des données spécifiques, incluez l'année si elle est disponible dans la citation.\nIntégration du contenu :\nMélangez harmonieusement les informations citées avec votre analyse originale.\nUtilisez des transitions pour relier le matériel cité à vos propres idées.\nMaintenez le ton spécifié tout en intégrant les citations.\nAssurez-vous que les citations soutiennent, plutôt que de dominer, la narration.\nUtilisez un mélange de paraphrases et de citations directes lorsque vous citez des sources.\nExigences pour la section \"Sources\" :\nÀ la fin de votre chapitre, incluez une section \"Sources\".\nFormatez la section \"Sources\" comme suit :\n\n<hr>\n<h3>Sources</h3>\n<ul>\n  <li><a href=\"[URL]\">[Nom de la publication] - [Titre de l'article]</a></li>\n  [Sources supplémentaires...]\n</ul>\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1060,260],"id":"26ccc8db-8300-4b7c-9732-1123a6cd609a","name":"Agent Recherche 2"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Form Trigger":{"main":[[{"node":"Agent Recherche","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agent Recherche","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Agent Planification","type":"ai_languageModel","index":0}]]},"Agent Recherche":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Agent Planification":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Agent Recherche 2","type":"ai_languageModel","index":0}]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"écrivain","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"écrivain","type":"ai_languageModel","index":0}]]},"écrivain":{"main":[[{"node":"Airtable3","type":"main","index":0}]]},"Perplexity":{"ai_tool":[[{"node":"Agent Planification","type":"ai_tool","index":0},{"node":"Agent Recherche","type":"ai_tool","index":0}]]},"Airtable":{"main":[[{"node":"Agent Planification","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Agent Planification","type":"ai_outputParser","index":0}]]},"Split Out":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Agent Recherche 2","type":"main","index":0},{"node":"Airtable1","type":"main","index":0}]]},"Perplexity1":{"ai_tool":[[{"node":"Agent Recherche 2","type":"ai_tool","index":0}]]},"Airtable3":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"Google Drive","type":"main","index":0}]]},"Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Agent Recherche 2":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Airtable2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6fea1a3b-d58a-4cd7-8699-fe40ec140909","triggerCount":0,"tags":[]},{"createdAt":"2025-05-12T19:44:50.879Z","updatedAt":"2025-05-14T11:54:42.952Z","id":"Mc7q8M9ghH8OiKoV","name":"My workflow 4","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-540,-240],"id":"fff7ed26-b2a2-4845-be43-440c49634216","name":"When chat message received","webhookId":"4e208586-18c2-486b-bf4b-5bffb87a32f3"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-640,20],"id":"7943c88c-91fd-49ab-860d-c3e2d6e9584c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"RgYZW8U9XwYGxvB7","name":"OpenAi account"}}},{"parameters":{"options":{"systemMessage":"You are a helpful assistant, specialized in chess. \n\nWhen the user ask questions about chess run the knowledge base tool. "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-320,-240],"id":"da008b24-bf60-41fa-ae3b-cf3e854bf0a7","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-480,20],"id":"739c18e5-63e4-4be1-8766-979b70bbb2dc","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"UUCnU0ADAlCt8HYe","name":"Postgres Supa"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"KB_chessplorer","toolDescription":"Run this tool when you need informations from our knowledge base.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"topK":3,"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[-180,0],"id":"bf7b5d8b-b1b2-4c38-9f85-8eb3b63d38d6","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"oDc8k22rMbU7X0Uu","name":"Supabase vector base"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-180,180],"id":"02eb5e28-c9ad-4999-95ca-cb7e9a910204","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"RgYZW8U9XwYGxvB7","name":"OpenAi account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0ecc0b5e-be85-4d5a-9462-0acebdffc2e9","triggerCount":0,"tags":[]},{"createdAt":"2025-05-28T12:32:01.068Z","updatedAt":"2025-05-28T12:32:01.068Z","id":"D2t9gyPIw5OOEDX8","name":"RAG_pdf_quentin","active":false,"nodes":[{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"https://drive.google.com/file/d/1BHszuN-bDD-mx5OgJiX0P7BctdpDWGL-/view?usp=sharing","mode":"url"},"options":{}},"id":"6c0ed71b-71f1-42cf-a8c3-76881bb152ec","name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[40,100],"typeVersion":3},{"parameters":{"content":"### Mettre la data dans Qdrant (vector database)\n","height":807,"width":1018,"color":4},"id":"2442dd77-ae3f-4c8b-af99-ea0c8a65bd31","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"### Discuter avec la Database","height":807,"width":854,"color":3},"id":"780c3884-d2e9-4278-8964-b380507b89b5","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1100,0],"typeVersion":1},{"parameters":{"options":{}},"id":"9c3645b3-53c3-4f6f-8b77-5f08047ec19e","name":"Question and Answer Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","position":[1340,120],"typeVersion":1.2},{"parameters":{"options":{}},"id":"97f6a8d1-76ea-4d8a-9f64-05dc58ddfa53","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1340,340],"typeVersion":1},{"parameters":{},"id":"d4f49e9a-a151-49f9-a5ef-8c21a9aec597","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","position":[1540,340],"typeVersion":1},{"parameters":{},"id":"16e1b8ba-f6e1-4527-868b-469f5a95386c","name":"When clicking 'Chat' button below","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[1140,120],"webhookId":"e259b6fe-b2a9-4dbc-98a4-9a160e7ac10c","typeVersion":1},{"parameters":{},"id":"e9f91485-36e3-480c-9116-489e42a38dc4","name":"When clicking 'Test Workflow' button","type":"n8n-nodes-base.manualTrigger","position":[-360,100],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"50025ff5-1b53-475f-b150-2aafef1c4c21","name":"file_url","type":"string","value":"https://drive.google.com/file/d/11Koq9q53nkk0F5Y8eZgaWJUVR03I4-MM/view"}]},"options":{}},"id":"752bf98f-961a-43ba-aab3-2c9541150620","name":"Set Google Drive file URL","type":"n8n-nodes-base.set","position":[-140,100],"typeVersion":3.3},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"rag_test","mode":"list","cachedResultName":"rag_test"},"options":{"collectionConfig":""}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[540,100],"id":"2de7dfab-85ec-45e3-89e9-ad9d99de661d","name":"Qdrant Vector Store"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[620,340],"id":"2c3ddbe9-173c-4bf3-bf20-ed82c5817e43","name":"Default Data Loader1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[720,540],"id":"8e1c8556-1bb3-4f2e-8709-5cbcf382c7dd","name":"Recursive Character Text Splitter1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[440,340],"id":"610bc931-0b3b-40c7-ace3-2adbf1e56ccd","name":"Embeddings OpenAI1"},{"parameters":{"qdrantCollection":{"__rl":true,"value":"rag_test","mode":"list","cachedResultName":"rag_test"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[1440,500],"id":"2d0f11db-adbe-47e6-acfb-2ca92e34bc60","name":"Qdrant Vector Store1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[1400,660],"id":"5b40d3f9-b9b7-40c9-938e-6f77fae287a2","name":"Embeddings OpenAI"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[300,100],"id":"da99264c-ac00-4eab-9896-978490159c8e","name":"Extract from File"}],"connections":{"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Set Google Drive file URL":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"When clicking 'Chat' button below":{"main":[[{"node":"Question and Answer Chain","type":"main","index":0}]]},"When clicking 'Test Workflow' button":{"main":[[{"node":"Set Google Drive file URL","type":"main","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Qdrant Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Extract from File":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c8d926f0-ab83-4211-ab8d-5f121218018a","triggerCount":0,"tags":[]},{"createdAt":"2025-05-10T06:52:49.248Z","updatedAt":"2025-05-10T06:52:49.248Z","id":"PPI2LfpIaJVODn3X","name":"rag_claude_gpt","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chat","responseMode":"responseNode","options":{}},"id":"422bb38b-9c55-4f6f-9fc4-e4de0543681a","name":"Webhook - Chat Interface","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-740,220],"webhookId":"5fe2dad8-7cac-4f41-9443-cd5eec73933d"},{"parameters":{"functionCode":"// Récupération des données entrantes\nconst inputData = $input.all();\nconst messageData = inputData[0].json.body;\n\nconst userQuestion = messageData.question;\nconst userId = messageData.userId || \"anonymous\";\nconst conversationHistory = messageData.conversationHistory || [];\n\nreturn {\n  json: {\n    userQuestion,\n    userId,\n    conversationHistory,\n    timestamp: new Date().toISOString()\n  }\n};"},"id":"d610b3f9-5cff-4d94-8bd9-873732a7ff61","name":"Parse User Input","type":"n8n-nodes-base.function","typeVersion":1,"position":[-520,220]},{"parameters":{"operation":"completion","requestOptions":{}},"id":"cd0db47e-ca6d-4a8f-b5aa-b95f05a5133f","name":"Generate Embeddings","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[-280,220]},{"parameters":{"operation":"executeQuery","query":"SELECT document_id, document_content, document_metadata, similarity(\n  document_embedding,\n  '{{$node[\"Generate Embeddings\"].json[\"data\"][0][\"embedding\"]}}'\n) AS similarity_score\nFROM knowledge_embeddings\nWHERE similarity(\n  document_embedding,\n  '{{$node[\"Generate Embeddings\"].json[\"data\"][0][\"embedding\"]}}'\n) > 0.75\nORDER BY similarity_score DESC\nLIMIT 5;","additionalFields":{}},"id":"6f09b4fc-b0e4-4027-9ed6-2ab35845ce97","name":"Query PostgreSQL","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-40,120]},{"parameters":{"url":"https://api.qdrant.tech/collections/knowledge_base/points/search","authentication":"predefinedCredentialType","nodeCredentialType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"vector","value":"={{ $node[\"Generate Embeddings\"].json[\"data\"][0][\"embedding\"] }}"},{"name":"limit","value":5},{"name":"with_payload","value":true},{"name":"score_threshold","value":0.75}]},"options":{}},"id":"47d8616f-7033-4676-aea3-370c51080996","name":"Query Qdrant","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-40,320]},{"parameters":{"functionCode":"// Fusion résultats PG + Qdrant\nconst pg = $node[\"Query PostgreSQL\"].json;\nconst qdrant = $node[\"Query Qdrant\"].json.result || [];\n\nlet results = [];\npg.forEach(doc => results.push({ source: \"pg\", content: doc.document_content, score: doc.similarity_score }));\nqdrant.forEach(doc => results.push({ source: \"qdrant\", content: doc.payload.content, score: doc.score }));\n\nresults.sort((a, b) => b.score - a.score);\n\nreturn {\n  json: {\n    context: results.slice(0, 3).map(r => r.content).join(\"\\n\\n\")\n  }\n};"},"id":"d548334b-aa19-44d8-913d-0306316fa874","name":"Combine Search Results","type":"n8n-nodes-base.function","typeVersion":1,"position":[200,220]},{"parameters":{"model":"chatgpt-4o-latest","options":{},"requestOptions":{}},"id":"947d0b07-8564-485a-bb3b-01fe0a26a98b","name":"Generate Final Answer","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[440,220]},{"parameters":{"options":{}},"id":"e210f180-f56e-4597-861a-5a388c7ae060","name":"Respond to User","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[660,220]},{"parameters":{"content":"📌 Ce workflow exécute un chatbot RAG combinant PostgreSQL et Qdrant avec réponse générée via GPT-4o."},"id":"f3e2ff27-5533-406c-ac39-7a74b84f1ea3","name":"Sticky Note - Résumé","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-680,40]},{"parameters":{"content":"🧠 Étapes :\n1. Reçoit message\n2. Embedding\n3. Recherche PG & Qdrant\n4. Fusion\n5. Réponse AI\n6. Webhook"},"id":"ab8e1048-35f3-416b-884c-eef1e15d911e","name":"Sticky Note - Étapes","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]}],"connections":{"Webhook - Chat Interface":{"main":[[{"node":"Parse User Input","type":"main","index":0}]]},"Parse User Input":{"main":[[{"node":"Generate Embeddings","type":"main","index":0}]]},"Generate Embeddings":{"main":[[{"node":"Query PostgreSQL","type":"main","index":0}]]},"Query PostgreSQL":{"main":[[{"node":"Combine Search Results","type":"main","index":0}]]},"Query Qdrant":{"main":[[{"node":"Combine Search Results","type":"main","index":0}]]},"Combine Search Results":{"main":[[{"node":"Generate Final Answer","type":"main","index":0}]]},"Generate Final Answer":{"main":[[{"node":"Respond to User","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"77a5867b-77de-4fba-9ae3-acaf32f7bb8f","triggerCount":0,"tags":[]},{"createdAt":"2025-06-20T20:45:06.508Z","updatedAt":"2025-06-20T20:46:19.103Z","id":"B1B1LKPWkZMeg88C","name":"Nate-humanintheloop","active":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[680,200],"id":"c1656012-368a-40ee-a3ca-73be3d37d755","name":"Telegram Trigger","webhookId":"f9d2a169-fd6e-40f1-82f5-36afa714030d"},{"parameters":{"toolDescription":"Use this tool to search the web. ","method":"POST","url":"https://api.tavily.com/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"query\": \"{searchTerm}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}","placeholderDefinitions":{"values":[{"name":"searchTerm","description":"What the user is searching for. "}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[980,480],"id":"904eac5e-7c4a-499a-b512-8c5205a6a522","name":"Tavily"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","message":"=Good to go?\n\n{{ $json.output }}","approvalOptions":{"values":{"approvalType":"double"}},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1220,200],"id":"183b06f6-925d-4213-8faf-590983516567","name":"Submit Approval","webhookId":"da32f9b9-1b07-4e0f-9b5a-55a8c9ab9d59"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"938f9bd1-c97f-4aff-a17c-b5e83f83d639","leftValue":"={{ $json.data.approved }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1420,200],"id":"7aa539d2-872f-4b3b-bc5d-2228253f026c","name":"If"},{"parameters":{"text":"={{ $('X_Post Agent').item.json.output }}","additionalFields":{}},"type":"n8n-nodes-base.twitter","typeVersion":2,"position":[1680,100],"id":"f94b7d7f-00c3-4be3-a313-16ec0c6e3e11","name":"X"},{"parameters":{"model":"openai/gpt-4.1","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[960,1300],"id":"74b71048-5ebf-4bfd-b69d-be7a1ecb8bd7","name":"GPT 4.1"},{"parameters":{"model":"openai/gpt-4.1","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[700,480],"id":"dcc31612-7c5d-42c4-b567-1707a3027875","name":"GPT_4.1"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[640,880],"id":"637f55b2-f18f-4613-8d1f-dea6b1888dc2","name":"Telegram_Trigger","webhookId":"f9d2a169-fd6e-40f1-82f5-36afa714030d"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('Telegram_Trigger').item.json.message.chat.id }}","message":"=Good to go?\n\n{{ $json.post }}","responseType":"freeText","options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1360,880],"id":"6f86052f-24ad-4222-b14c-577907eb2a1a","name":"Request Feedback","webhookId":"da32f9b9-1b07-4e0f-9b5a-55a8c9ab9d59"},{"parameters":{"inputText":"={{ $json.data.text }}","categories":{"categories":[{"category":"approved","description":"=The post has been reviewed and accepted as-is. The human explicitly or implicitly expresses approval, indicating that no changes are needed. \n\nExample phrases include:\n\n\"Looks good.\"\n\"Go ahead and send it.\"\n\"This works for me.\"\n\"Approved.\"\n\"No changes needed.\"\n"},{"category":"declined","description":"=The post has been reviewed, but the human requests modifications before it is sent like tweaks, removing parts, rewording, etc. This could include suggested edits, rewording, or major revisions. \n\nExample phrases include:\n\n\"Can we tweak this part?\"\n\"make it shorter\"\n\"change the source to 'American Kennel Club'\"\n\"more emojis\""}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[1560,880],"id":"010df603-d44d-4ee4-8eb0-a0bd3f0814e5","name":"Text Classifier"},{"parameters":{"promptType":"define","text":"=Here is the post to revise: {{ $('Set Post').item.json.post }}\n\nHere is the human feedback: {{ $json.data.text }}","options":{"systemMessage":"=# Overview\nYou are an expert twitter writer. Your job is to take an incoming post and revise it based on the feedback the human submitted.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1960,1020],"id":"412f92fa-7f87-4a98-9c6b-6f734f09e6dd","name":"Revision Agent"},{"parameters":{"assignments":{"assignments":[{"id":"454eb351-9781-48c2-b279-d5341210a1a1","name":"post","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1160,880],"id":"ca5b347c-fde3-4ccc-a761-ed354181c7d9","name":"Set Post"},{"parameters":{"toolDescription":"Use this tool to search the web. ","method":"POST","url":"https://api.tavily.com/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"query\": \"{searchTerm}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}","placeholderDefinitions":{"values":[{"name":"searchTerm","description":"What the user is searching for. "}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[680,1300],"id":"092adb0d-71ba-48bc-aee5-d615275208bc","name":"Tavily Search"},{"parameters":{"model":"google/gemini-2.0-flash-001","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1120,1300],"id":"d23a325d-a252-45ad-bf50-c3e3b2fa6503","name":"2.0 Flash"},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=# Overview  \nYou are an AI agent responsible for creating Twitter (X) posts based on user requests.  \n\n## Instructions  \n1. Always use the Tavily Search tool to find accurate, current information about the topic.  \n2. Write an informative, engaging tweet (up to 280 characters).  \n3. Include a brief reference to the source (e.g., \"via TechCrunch\", \"according to The Verge\") directly in the tweet.  \n4. Do not output anything except the final tweet.  \n\n## Tool\n- Tavily Search: Use this for real-time web search. Must be used every time before creating the post.\n\n## Example\n1) Input: \"Create a tweet about NASA’s latest discovery.\"  \n2) Action: Search the web using Tavily Search.\n3) Output: \"NASA just found signs of ancient riverbeds on Mars—suggesting the Red Planet may have once been home to life. Huge leap in space exploration 🌌 (via NASA) #Mars #SpaceNews\"  \n\n## Final Notes  \n- Avoid clickbait or speculation—stick to factual and sourced content.  \n- Use hashtags or emojis only to enhance visibility.  \n- Keep language friendly, concise, and informative.  \n- Never use an \"@\" symbol when referencing the source.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[820,880],"id":"b4150e48-f210-48e7-b0c9-7f1de9f1fa80","name":"X Post Agent"},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=# Overview  \nYou are an AI agent responsible for creating Twitter (X) posts based on user requests.  \n\n## Instructions  \n1. Always use the Tavily tool to find accurate, current information about the topic.  \n2. Write an informative, engaging tweet (up to 280 characters).  \n3. Include a brief reference to the source (e.g., \"via TechCrunch\", \"according to The Verge\") directly in the tweet.  \n4. Do not output anything except the final tweet.  \n\n## Tool\n- Tavily: Use this for real-time web search. Must be used every time before creating the post.\n\n## Example\n1) Input: \"Create a tweet about NASA’s latest discovery.\"  \n2) Action: Search the web using Tavily.\n3) Output: \"NASA just found signs of ancient riverbeds on Mars—suggesting the Red Planet may have once been home to life. Huge leap in space exploration 🌌 (via NASA) #Mars #SpaceNews\"  \n\n## Final Notes  \n- Avoid clickbait or speculation—stick to factual and sourced content.  \n- Use hashtags or emojis only when relevant to enhance visibility.  \n- Keep language friendly, concise, and informative.  \n- Never use an \"@\" symbol when referencing the source.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[860,200],"id":"40ae6034-b22d-41d5-bba2-f5d7d2828463","name":"X_Post Agent"},{"parameters":{"text":"={{ $('Set Post').item.json.post }}","additionalFields":{}},"type":"n8n-nodes-base.twitter","typeVersion":2,"position":[1960,760],"id":"10a6fbf3-752b-44a9-88b5-5887b6946577","name":"X Post"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=Post was denied. Please submit another request.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1680,300],"id":"3ac8f868-6c2b-4730-8ecb-4cd55570d34f","name":"Denial message","webhookId":"09d73d82-d0bf-416b-98bc-fc9a5c1b0c13"},{"parameters":{"content":"# Human in the Loop 2.0 (Text Based Feedback)\n\n","height":820,"width":1760,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[540,660],"id":"b40039d8-561c-466f-b984-bb16b5626b65","name":"Sticky Note"},{"parameters":{"content":"# HITL","height":260,"width":180,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1320,800],"id":"99d7333e-581d-45ff-8ef0-5a3eb0604b58","name":"Sticky Note1"},{"parameters":{"content":"# Set","height":260,"width":180,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1120,800],"id":"4c890f77-aa09-45b2-90af-637ea74ceda1","name":"Sticky Note2"},{"parameters":{"content":"# Decision Point","height":260,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1520,800],"id":"9326d247-0eff-49c2-899d-929351c7f6a7","name":"Sticky Note3"},{"parameters":{"content":"# Post\n","height":220,"width":220,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1900,700],"id":"f68ea2e4-d0ee-4dab-b3cc-2aae611b7812","name":"Sticky Note4"},{"parameters":{"content":"# Revision\n","height":220,"width":360,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1900,940],"id":"ce1ec301-e5cf-4d05-bcfc-bbdf58d2ace4","name":"Sticky Note5"},{"parameters":{"content":"# Initial Content\n","height":260,"width":520,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[580,800],"id":"9d0872ba-664e-4662-85ec-5e9de52d2f96","name":"Sticky Note6"},{"parameters":{"content":"# Web Search\n","height":220,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,1220],"id":"6fa592b5-ccb1-4f07-adb2-c7f64470b0a2","name":"Sticky Note7"},{"parameters":{"content":"# Chat Models\n\n","height":220,"width":440,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[860,1220],"id":"4ed751d8-28a8-4928-b252-3b734f6c94a4","name":"Sticky Note8"},{"parameters":{"content":"# Human in the Loop (Yes/No)","height":620,"width":1340,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[540,0],"id":"11ef1d0c-19f4-4464-bf07-11770a4942c7","name":"Sticky Note9"},{"parameters":{"content":"# Initial Content\n","height":260,"width":560,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,120],"id":"c9a3bd7c-46e7-4f1c-8d53-324dde15ac38","name":"Sticky Note10"},{"parameters":{"content":"# HITL","height":260,"width":180,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1180,120],"id":"c5e322d4-8edc-4aad-bf9e-f46f7afc4c38","name":"Sticky Note11"},{"parameters":{"content":"# Decision Point","height":460,"width":460},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1380,40],"id":"3f12ede5-a46b-401a-9862-530187111616","name":"Sticky Note12"},{"parameters":{"content":"# Web Search\n","height":200,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[900,400],"id":"09e9e77a-78d0-47e0-83e4-e4aa01f4e2a8","name":"Sticky Note13"},{"parameters":{"content":"# Chat Model\n\n","height":200,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[620,400],"id":"d10c1944-e593-4efc-9254-ae94f56a8c43","name":"Sticky Note14"},{"parameters":{"content":"# ⚙️ Setup Guide  \n**Author:** [Nate Herk](https://www.youtube.com/@nateherk)\n\nFollow these steps to get started:\n\n1. **Connect your Telegram account**  \n   Make sure your Telegram credentials are properly configured in your N8N instance.\n\n2. **Plug in your [Tavily](https://tavily.com/) API key**  \n   You'll need this to enable search and research functionality within your workflow.\n\n3. **Plug in your [OpenRouter](https://openrouter.ai/) credentials**  \n   This allows your AI nodes to route requests through OpenRouter's model gateway.\n\nOnce all three are connected, your workflow should be ready to run!\n","height":440,"width":520},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"baf5f24a-31da-457b-8b42-4225c244e116","name":"Sticky Note15"},{"parameters":{"content":"## I'm a note \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)\nhttps://www.youtube.com/watch?v=CdnR-fNVPKI\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[200,820],"id":"41f7563c-c198-41e6-b653-b65c2af544b1","name":"Sticky Note16"}],"connections":{"Telegram Trigger":{"main":[[{"node":"X_Post Agent","type":"main","index":0}]]},"Tavily":{"ai_tool":[[{"node":"X_Post Agent","type":"ai_tool","index":0}]]},"Submit Approval":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"X","type":"main","index":0}],[{"node":"Denial message","type":"main","index":0}]]},"GPT 4.1":{"ai_languageModel":[[{"node":"X Post Agent","type":"ai_languageModel","index":0},{"node":"Revision Agent","type":"ai_languageModel","index":0}]]},"GPT_4.1":{"ai_languageModel":[[{"node":"X_Post Agent","type":"ai_languageModel","index":0}]]},"Telegram_Trigger":{"main":[[{"node":"X Post Agent","type":"main","index":0}]]},"Request Feedback":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"X Post","type":"main","index":0}],[{"node":"Revision Agent","type":"main","index":0}]]},"Revision Agent":{"main":[[{"node":"Set Post","type":"main","index":0}]]},"Set Post":{"main":[[{"node":"Request Feedback","type":"main","index":0}]]},"Tavily Search":{"ai_tool":[[{"node":"X Post Agent","type":"ai_tool","index":0}]]},"2.0 Flash":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"X Post Agent":{"main":[[{"node":"Set Post","type":"main","index":0}]]},"X_Post Agent":{"main":[[{"node":"Submit Approval","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c48aa7d8-3a4c-4f26-8bbf-c47d3cf4176b","triggerCount":0,"tags":[]},{"createdAt":"2025-05-09T21:49:12.245Z","updatedAt":"2025-05-10T18:31:15.365Z","id":"NRbK4WwHUvS5IfU5","name":"test claude rag","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chat","responseMode":"responseNode","options":{}},"id":"45cb6282-5f68-4bf9-94ef-3b9356e016ab","name":"Webhook - Chat Interface","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-700,100],"webhookId":"3fbb8f73-2263-4cae-bc43-6201cc6c80f3"},{"parameters":{"functionCode":"// Récupération des données entrantes\nconst inputData = $input.all();\nconst messageData = inputData[0].json.body;\n\n// Récupération de la question de l'utilisateur\nconst userQuestion = messageData.question;\n\n// Récupération de l'ID utilisateur pour le suivi de conversation\nconst userId = messageData.userId || \"anonymous\";\n\n// Récupération de l'historique des conversations (si disponible)\nconst conversationHistory = messageData.conversationHistory || [];\n\n// Retour des informations formatées\nreturn {\n  json: {\n    userQuestion,\n    userId,\n    conversationHistory,\n    timestamp: new Date().toISOString()\n  }\n};"},"id":"4c2e9d52-8d6c-436a-b97c-d53e6165e546","name":"Parse User Input","type":"n8n-nodes-base.function","typeVersion":1,"position":[-480,100]},{"parameters":{"operation":"completion","requestOptions":{}},"id":"863eef24-6397-4a0d-980e-d600381082d1","name":"Generate Embeddings","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[-240,100]},{"parameters":{"operation":"executeQuery","query":"SELECT document_id, document_content, document_metadata, similarity(\n  document_embedding,\n  '{{$node[\"Generate Embeddings\"].json[\"data\"][0][\"embedding\"]}}'\n) AS similarity_score\nFROM knowledge_embeddings\nWHERE similarity(\n  document_embedding,\n  '{{$node[\"Generate Embeddings\"].json[\"data\"][0][\"embedding\"]}}'\n) > 0.75\nORDER BY similarity_score DESC\nLIMIT 5;","additionalFields":{}},"id":"416c0df5-9c20-4ec8-b7db-4264c9d5eea4","name":"Query PostgreSQL","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[0,0]},{"parameters":{"url":"=https://api.qdrant.tech/collections/knowledge_base/points/search","authentication":"predefinedCredentialType","nodeCredentialType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"vector","value":"={{ $node[\"Generate Embeddings\"].json[\"data\"][0][\"embedding\"] }}"},{"name":"limit","value":5},{"name":"with_payload","value":true},{"name":"score_threshold","value":0.75}]},"options":{}},"id":"67e4559a-68e3-4898-9205-b7b4ab37d17c","name":"Query Qdrant","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[0,200]},{"parameters":{"functionCode":"// Récupération des résultats des deux bases\nconst postgreSQLResults = $node[\"Query PostgreSQL\"].json;\nconst qdrantResults = $node[\"Query Qdrant\"].json.result || [];\n\n// Fusion des résultats et tri par score de similarité\nlet combinedResults = [];\n\n// Traitement des résultats PostgreSQL\nif (Array.isArray(postgreSQLResults) && postgreSQLResults.length > 0) {\n  postgreSQLResults.forEach(item => {\n    combinedResults.push({\n      source: \"postgresql\",\n      document_id: item.document_id,\n      content: item.document_content,\n      metadata: item.document_metadata,\n      score: item.similarity_score\n    });\n  });\n}\n\n// Traitement des résultats Qdrant\nif (Array.isArray(qdrantResults) && qdrantResults.length > 0) {\n  qdrantResults.forEach(item => {\n    combinedResults.push({\n      source: \"qdrant\",\n      document_id: item.id,\n      content: item.payload.content,\n      metadata: item.payload.metadata,\n      score: item.score\n    });\n  });\n}\n\n// Tri des résultats par score de similarité (du plus élevé au plus bas)\ncombinedResults.sort((a, b) => b.score - a.score);\n\n// Vérification si nous avons des résultats pertinents\nconst hasRelevantResults = combinedResults.length > 0;\n\n// On prend les 3 meilleurs résultats pour le contexte\nconst topResults = combinedResults.slice(0, 3);\n\n// Extraction du contenu pour le contexte\nconst context = topResults.map(item => item.content).join(\"\\n\\n\");\n\n// Score du meilleur résultat (si disponible)\nconst bestMatchScore = topResults.length > 0 ? topResults[0].score : 0;\n\nreturn {\n  json: {\n    hasRelevantResults,\n    topResults,\n    bestMatchScore,\n    context,\n    allResultsCount: combinedResults.length\n  }\n};"},"id":"cc8bd1c1-eb64-4e45-be4d-b02093815968","name":"Combine Search Results","type":"n8n-nodes-base.function","typeVersion":1,"position":[240,100]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.hasRelevantResults }}","value2":"true"}]}},"id":"cf8198d1-9820-4960-83eb-22c763a6ae46","name":"Has Relevant Results?","type":"n8n-nodes-base.if","typeVersion":1,"position":[480,100]},{"parameters":{"operation":"completion","requestOptions":{}},"id":"39e8994e-1a18-40be-914a-71ddd6091faf","name":"Generate Response with Context","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[740,20]},{"parameters":{"operation":"completion","requestOptions":{}},"id":"84a7afc4-72d1-4164-91d8-1bfa9820eaf5","name":"Generate Response without Context","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[740,200]},{"parameters":{"functionCode":"// Récupération des données\nconst inputData = $input.all();\n\n// Détermination de la source de la réponse\nlet responseSource, aiResponse;\n\nif (inputData[0].json.choices) {\n  // OpenAI avec contexte\n  responseSource = \"database\";\n  aiResponse = inputData[0].json.choices[0].message.content;\n} else {\n  // OpenAI sans contexte\n  responseSource = \"general_knowledge\";\n  aiResponse = inputData[0].json.choices[0].message.content;\n}\n\n// Récupération des autres informations importantes\nconst userQuestion = $node[\"Parse User Input\"].json.userQuestion;\nconst userId = $node[\"Parse User Input\"].json.userId;\nconst conversationHistory = $node[\"Parse User Input\"].json.conversationHistory || [];\n\n// Mise à jour de l'historique de conversation\nconversationHistory.push(`User: ${userQuestion}`);\nconversationHistory.push(`Assistant: ${aiResponse}`);\n\n// Limiter l'historique aux 10 derniers échanges (20 messages)\nconst limitedHistory = conversationHistory.slice(-20);\n\n// Construction de la réponse finale\nconst finalResponse = {\n  response: aiResponse,\n  source: responseSource,\n  conversation_id: userId,\n  conversation_history: limitedHistory,\n  timestamp: new Date().toISOString(),\n  feedback_requested: true\n};\n\nreturn { json: finalResponse };"},"id":"3b4b195d-2591-4726-b8f5-36610ae59049","name":"Format Response","type":"n8n-nodes-base.function","typeVersion":1,"position":[1000,100]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO conversation_history (user_id, question, answer, source, timestamp)\nVALUES (\n  '{{ $json.conversation_id }}',\n  '{{ $node[\"Parse User Input\"].json.userQuestion }}',\n  '{{ $json.response }}',\n  '{{ $json.source }}',\n  '{{ $json.timestamp }}'\n);","additionalFields":{}},"id":"b0b51c82-d383-4c6b-80e9-6ec183d323ae","name":"Save Conversation to DB","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[1240,100]},{"parameters":{"options":{}},"id":"d7f2120f-8a08-42dd-819a-23b4d531e43d","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1480,100]},{"parameters":{"httpMethod":"POST","path":"feedback","responseMode":"responseNode","options":{}},"id":"27dc4785-af42-40f9-933d-5ac9db362cee","name":"Webhook - Feedback","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-700,380],"webhookId":"c4c4f74a-0a4b-45e5-a548-db0a79bce1f7"},{"parameters":{"functionCode":"// Récupération des données du feedback\nconst inputData = $input.all();\nconst feedbackData = inputData[0].json.body;\n\n// Extraction des informations\nconst conversationId = feedbackData.conversation_id;\nconst rating = feedbackData.rating; // Par exemple, entre 1 et 5\nconst comment = feedbackData.comment || \"\";\n\nreturn {\n  json: {\n    conversationId,\n    rating,\n    comment,\n    timestamp: new Date().toISOString()\n  }\n};"},"id":"c8838a39-ca5f-4d5f-9556-d8ffe866bac4","name":"Process Feedback","type":"n8n-nodes-base.function","typeVersion":1,"position":[-480,380]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO feedback (conversation_id, rating, comment, timestamp)\nVALUES (\n  '{{ $json.conversationId }}',\n  {{ $json.rating }},\n  '{{ $json.comment }}',\n  '{{ $json.timestamp }}'\n);","additionalFields":{}},"id":"603feec0-f7c2-49ed-8404-1704a3772027","name":"Save Feedback to DB","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-240,380]},{"parameters":{"options":{}},"id":"79ca4a94-15eb-41a8-abdd-7f11881df5ab","name":"Feedback Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[0,380]},{"parameters":{"httpMethod":"POST","path":"upload-document","responseMode":"responseNode","options":{"binaryData":true}},"id":"20e5e1f6-6ab2-4464-8e6d-9d843dbe5693","name":"Webhook - Document Upload","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-700,660],"webhookId":"08e4ab7f-d2c7-4384-b373-12df5b9128ac"},{"parameters":{"conditions":{"string":[{"value1":"={{ $binary.data.mimeType.includes('application/pdf') }}","value2":"true"}]}},"id":"391e4ad8-a051-4edc-9472-7256a9348064","name":"Check File Type","type":"n8n-nodes-base.if","typeVersion":1,"position":[-480,660]},{"parameters":{"functionCode":"// Récupération du texte du document\nconst inputData = $input.all();\n\n// Selon le type de fichier\nlet documentText;\nlet documentType;\n\nif (inputData[0].json.text) {\n  // C'est un PDF\n  documentText = inputData[0].json.text;\n  documentType = \"pdf\";\n} else {\n  // C'est un texte simple\n  documentText = inputData[0].json.body.text || \"\";\n  documentType = \"text\";\n}\n\n// Récupération des métadonnées\nconst metadata = inputData[0].json.body.metadata || {};\n\n// Ajout du nom du fichier aux métadonnées si c'est un PDF\nif (documentType === \"pdf\" && $binary && $binary.data && $binary.data.fileName) {\n  metadata.fileName = $binary.data.fileName;\n}\n\n// Extraction du texte et division en chunks\nconst chunkSize = 1000; // Nombre de caractères par chunk\nconst overlap = 200; // Chevauchement entre les chunks\n\nconst textChunks = [];\n\n// Segmentation du texte en chunks avec chevauchement\nfor (let i = 0; i < documentText.length; i += chunkSize - overlap) {\n  const chunk = documentText.substring(i, i + chunkSize);\n  if (chunk.trim().length > 0) {\n    textChunks.push({\n      text: chunk,\n      metadata: {\n        ...metadata,\n        chunkIndex: textChunks.length,\n        documentType,\n        createdAt: new Date().toISOString()\n      }\n    });\n  }\n}\n\nreturn { json: { chunks: textChunks } };"},"id":"3b6fd14e-737d-41d7-9376-a043f0e7de5f","name":"Process Document","type":"n8n-nodes-base.function","typeVersion":1,"position":[-40,760]},{"parameters":{"batchSize":1,"options":{}},"id":"d6a9a80f-c64f-4cc6-a03a-d0203c3e91db","name":"Split in Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[240,660]},{"parameters":{"operation":"completion","requestOptions":{}},"id":"1f3d27d9-6109-4486-9821-494a76daca50","name":"Generate Document Embeddings","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[480,660]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO knowledge_embeddings (document_content, document_embedding, document_metadata)\nVALUES (\n  '{{ $json.text }}',\n  '{{ $node[\"Generate Document Embeddings\"].json.data[0].embedding }}',\n  '{{ JSON.stringify($json.metadata) }}'\n)\nRETURNING document_id;","additionalFields":{}},"id":"be419bc4-0663-4e70-ac8c-e115e1a379d5","name":"Store in PostgreSQL","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[720,560]},{"parameters":{"url":"=https://api.qdrant.tech/collections/knowledge_base/points","authentication":"predefinedCredentialType","nodeCredentialType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"batch","value":"={\n  \"ids\": [\"{{ $node[\"Store in PostgreSQL\"].json[0].document_id }}\"],\n  \"vectors\": [{{ $node[\"Generate Document Embeddings\"].json.data[0].embedding }}],\n  \"payloads\": [{\n    \"content\": \"{{ $json.text }}\",\n    \"metadata\": {{ JSON.stringify($json.metadata) }}\n  }]\n}"}]},"options":{}},"id":"78796740-a6e2-44da-9c7b-c677d871d638","name":"Store in Qdrant","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[720,760]},{"parameters":{},"id":"38f4fb77-18ab-48df-8bae-8f86530624ab","name":"Loop Through Chunks","type":"n8n-nodes-base.loop","typeVersion":1,"position":[960,660]},{"parameters":{"options":{}},"id":"24cb1496-4ab7-4d79-b13c-8bcb55592e79","name":"Document Upload Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1200,660]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 3 * * *"}]}},"id":"d7ab7719-8fb1-4c73-86a2-2d4625a37ace","name":"Daily Analytics Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-700,940]},{"parameters":{"operation":"executeQuery","query":"-- Requête pour analyser les performances du chatbot\nSELECT \n  DATE(timestamp) as date,\n  COUNT(*) as total_conversations,\n  COUNT(DISTINCT user_id) as unique_users,\n  AVG(CASE WHEN source = 'database' THEN 1 ELSE 0 END) as context_hit_rate,\n  (SELECT AVG(rating) FROM feedback WHERE DATE(timestamp) = DATE(ch.timestamp)) as avg_satisfaction\nFROM conversation_history ch\nWHERE timestamp >= NOW() - INTERVAL '7 days'\nGROUP BY DATE(timestamp)\nORDER BY date DESC;","additionalFields":{}},"id":"0c888e00-554e-4f7a-a193-83aa549d8e15","name":"Generate Analytics","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-480,940]},{"parameters":{"operation":"completion","requestOptions":{}},"id":"b92fd8e8-62ea-43a6-a0e4-387de528dcf5","name":"Generate Analytics Report","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[-240,940]},{"parameters":{"subject":"=Rapport quotidien des performances du chatbot - {{ $json.timestamp }}","text":"={{ $node[\"Generate Analytics Report\"].json.choices[0].message.content }}","options":{}},"id":"2add97ab-d4a5-426d-8303-82e57eda6e5b","name":"Send Analytics Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[0,940],"webhookId":"3f391e29-a4c5-4755-8869-ac3cd5dcdda3"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-240,580],"id":"38f2d71c-2bcc-43c1-8181-f045c9a19d8e","name":"Extract from File"}],"connections":{"Webhook - Chat Interface":{"main":[[{"node":"Parse User Input","type":"main","index":0}]]},"Parse User Input":{"main":[[{"node":"Generate Embeddings","type":"main","index":0}]]},"Generate Embeddings":{"main":[[{"node":"Query PostgreSQL","type":"main","index":0},{"node":"Query Qdrant","type":"main","index":0}]]},"Query PostgreSQL":{"main":[[{"node":"Combine Search Results","type":"main","index":0}]]},"Combine Search Results":{"main":[[{"node":"Has Relevant Results?","type":"main","index":0}]]},"Has Relevant Results?":{"main":[[{"node":"Generate Response with Context","type":"main","index":0}],[{"node":"Generate Response without Context","type":"main","index":0}]]},"Generate Response with Context":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Generate Response without Context":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Save Conversation to DB","type":"main","index":0}]]},"Save Conversation to DB":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]},"Webhook - Feedback":{"main":[[{"node":"Process Feedback","type":"main","index":0}]]},"Process Feedback":{"main":[[{"node":"Save Feedback to DB","type":"main","index":0}]]},"Save Feedback to DB":{"main":[[{"node":"Feedback Response","type":"main","index":0}]]},"Webhook - Document Upload":{"main":[[{"node":"Check File Type","type":"main","index":0}]]},"Check File Type":{"main":[[{"node":"Extract from File","type":"main","index":0}],[{"node":"Process Document","type":"main","index":0}]]},"Process Document":{"main":[[{"node":"Split in Batches","type":"main","index":0}]]},"Split in Batches":{"main":[[{"node":"Generate Document Embeddings","type":"main","index":0}]]},"Generate Document Embeddings":{"main":[[{"node":"Store in PostgreSQL","type":"main","index":0},{"node":"Store in Qdrant","type":"main","index":0}]]},"Daily Analytics Trigger":{"main":[[{"node":"Generate Analytics","type":"main","index":0}]]},"Generate Analytics":{"main":[[{"node":"Generate Analytics Report","type":"main","index":0}]]},"Generate Analytics Report":{"main":[[{"node":"Send Analytics Email","type":"main","index":0}]]},"Query Qdrant":{"main":[[{"node":"Combine Search Results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"712dc734-fc20-4a8b-b7f6-3a42212185cb","triggerCount":0,"tags":[]},{"createdAt":"2025-05-28T12:26:44.955Z","updatedAt":"2025-05-28T12:26:44.955Z","id":"vMuUhsk5owZqu9Pu","name":"RAG_quentin","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"testing","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1060,20],"id":"c3550fb4-0776-4c7a-9159-8eb5835d94a9","name":"Webhook","webhookId":"a125aa06-3bdf-49d6-a45c-ca6c3faafaef"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-280,20],"id":"711eaa6d-afd6-46cc-88ce-b490ba74b6ce","name":"Respond to Webhook"},{"parameters":{"options":{}},"id":"8686dc08-d6b2-472f-8763-518fe5c741dd","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-840,260]},{"parameters":{"model":"gpt-4o","options":{}},"id":"bd342fd7-b142-41f0-b88a-7418e87f1a1b","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-180,480]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}},"id":"3c8252f9-d0df-46b9-a516-7dc6d21ef829","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[520,340]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"4e196ce0-2fc4-453b-82d7-d1aa1b2d5294","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[400,320]},{"parameters":{"name":"user_documents","description":"Contains all the user's documents that you can check for context to answer user questions."},"id":"f70d3a05-bc5a-4380-a1f2-f053dca2afea","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-340,220]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"67b35534-794c-4a3e-a991-fcd63ed7da79","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[200,360],"executeOnce":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1AZzb8fYcwLyNMnJkSjfz0EFRE67KSpLK","mode":"list","cachedResultName":"Note des Réunions","cachedResultUrl":"https://drive.google.com/drive/folders/1AZzb8fYcwLyNMnJkSjfz0EFRE67KSpLK"},"event":"fileCreated","options":{}},"id":"abeaa913-fa50-42fa-a05d-7a8d97f32b62","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,140]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1AZzb8fYcwLyNMnJkSjfz0EFRE67KSpLK","mode":"list","cachedResultName":"Note des Réunions","cachedResultUrl":"https://drive.google.com/drive/folders/1AZzb8fYcwLyNMnJkSjfz0EFRE67KSpLK"},"event":"fileUpdated","options":{}},"id":"5311d2f9-18ba-42f4-afc7-75b19a7e54db","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"operation":"text","options":{}},"id":"bf79a206-f25c-47b0-a7d3-ebd780f2d5c4","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[200,520],"alwaysOutputData":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"e41d4349-8515-4102-9c79-6a42b851f1f1","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-340,540]},{"parameters":{"options":{}},"id":"efc24301-ee8e-4254-8ae3-dc12dd1de1e6","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[420,500]},{"parameters":{"tableId":"documents"},"id":"f3d78932-4317-49e6-846b-b88bdab0bd8a","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[200,200],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"d011341e-4c2b-44bc-8d13-116b81f2d6e3","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[200,0]},{"parameters":{"promptType":"define","text":"={{ $json.body.information }} id de la session : {{ $json.id['cf-connecting-ip'] }}","options":{"systemMessage":"You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself.\n\nYou use user_documents to get data."}},"id":"51346a3c-aeec-4f4f-95b6-5012269c4090","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-620,20]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"08eda9d5-86ba-4179-9d95-176c2bbbefd9","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-400,380]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"id":"d5ae5f03-af2c-426d-a7ee-ef1181e3c7b9","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[400,20]},{"parameters":{"calendar":{"__rl":true,"value":"quentingavila@gmail.com","mode":"list","cachedResultName":"quentingavila@gmail.com"},"additionalFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[-500,260],"id":"3283d0b8-d40c-49d9-ba13-b24f60c226fe","name":"Google Calendar"},{"parameters":{"assignments":{"assignments":[{"id":"869579ee-0387-44ed-9645-62959e09a6da","name":"body.information","value":"={{ $json.body.information }}","type":"string"},{"id":"e1c9bc28-3064-4577-9800-1d1d96872b8f","name":"id['cf-connecting-ip']","value":"={{ $json.headers['cf-connecting-ip'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-840,20],"id":"2d3c0278-5da0-4768-9a02-a08530086668","name":"Edit Fields"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.id['cf-connecting-ip'] }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-660,240],"id":"33b7200a-8c42-499a-9831-f05d878eb498","name":"Postgres Chat Memory1"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]},"RAG AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Google Calendar":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"40d99d0c-98d0-4cf0-9c5f-1c1fee479939","triggerCount":0,"tags":[]},{"createdAt":"2025-05-01T16:09:01.077Z","updatedAt":"2025-05-01T16:09:01.077Z","id":"BdlJu76iPIca18ox","name":"test agent","active":false,"nodes":[],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"93e5d602-c3b8-431e-9e8a-1a9091340b18","triggerCount":0,"tags":[]},{"createdAt":"2025-06-16T20:24:54.340Z","updatedAt":"2025-06-16T20:25:50.058Z","id":"6faHLAC8QetVxv2e","name":"My workflow 8","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-440,0],"id":"c7931e3e-8c52-48b2-96c4-c345e7180f44","name":"When clicking ‘Test workflow’"},{"parameters":{"formTitle":"cadrage stratégique SEO","formDescription":"Pour rédaction d'article","formFields":{"values":[{"fieldLabel":"mot clé principal"},{"fieldLabel":"intention de recherche","fieldType":"dropdown","fieldOptions":{"values":[{"option":"navigationnelle"},{"option":"transactionnelle"},{"option":"informationnelle"}]}}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-220,0],"id":"5a22b614-b26b-42f4-88cf-652b1475c480","name":"On form submission","webhookId":"cc1b3d0f-c256-40a9-abeb-813aecb08393"}],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0f64bd35-1ebb-4bc7-abef-028bb85ebca3","triggerCount":0,"tags":[]},{"createdAt":"2025-05-28T20:31:23.853Z","updatedAt":"2025-05-28T22:32:46.577Z","id":"0bcQhpPH7LDbUiLM","name":"RAG_meedey","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"9de230a9-3c76-4623-b991-1e3a4861b51d","name":"When chat message received","webhookId":"f7bb43a7-747a-4b32-bf3d-29ed798387ca"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[252,0],"id":"53b3c22a-29af-4dcc-987d-51bc23b3e44e","name":"Garnus"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[340,220],"id":"e5a573b2-a4eb-4164-a58d-1aa7450a6226","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"UUCnU0ADAlCt8HYe","name":"Postgres Supa"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[220,220],"id":"03a92b3e-667d-4631-9659-74a9e09559e4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"RgYZW8U9XwYGxvB7","name":"OpenAi account"}}},{"parameters":{"width":340,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-60,-180],"id":"8cffc727-89e1-4f3d-803d-05a61c458a7f","name":"Sticky Note"},{"parameters":{"mode":"retrieve-as-tool","tableName":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[460,222.5],"id":"06fcc237-1e5a-4829-befd-f9fdf71deb0d","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"oDc8k22rMbU7X0Uu","name":"Supabase vector base"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[548,420],"id":"234ffc34-4fcb-4a34-b4bb-4795e6bd1a86","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"RgYZW8U9XwYGxvB7","name":"OpenAi account"}}},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[80,80],"id":"59591bb8-a8fe-454a-a73c-b4a806fccaf2","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"c13v1vNRSqwauCPN","name":"Google Drive account 2"}}}],"connections":{"When chat message received":{"main":[[{"node":"Garnus","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Garnus","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Garnus","type":"ai_languageModel","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"Garnus","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"563ff585-7e9a-4494-9404-46b7ebdf8889","triggerCount":0,"tags":[]},{"createdAt":"2025-05-23T07:40:43.009Z","updatedAt":"2025-05-23T20:51:19.664Z","id":"fhvPJg15ua5nDy8j","name":"My workflow 7","active":true,"nodes":[{"parameters":{"method":"POST","url":"http://mem0-api:8000/mcp/n8n/sse/user001/messages/","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"memory_source_id\": \"agent-123\",\n  \"documents\": [\n    {\n      \"text\": \"L'utilisateur a demandé la météo à Paris.\",\n      \"metadata\": {\n        \"user_id\": \"user-42\",\n        \"timestamp\": \"{{new Date().toISOString()}}\"\n      }\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"a43c3359-51fa-4d8a-87fe-92b5fb1a85e3","name":"HTTP Request","credentials":{"httpBasicAuth":{"id":"lmprKpnEaTrfynJj","name":"mem0"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"a0003328-f03f-49fd-91f4-96ea11332128","name":"When chat message received","webhookId":"85637bd1-6a86-47e7-a749-9be0d0005eb5"}],"connections":{"When chat message received":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f7da75ca-732e-426e-af3d-2d34385051f4","triggerCount":1,"tags":[]},{"createdAt":"2025-05-21T16:39:47.335Z","updatedAt":"2025-05-26T19:38:49.362Z","id":"272wPBzZpl3NTzpW","name":"Optimisation_prompt","active":true,"nodes":[{"parameters":{"formTitle":"Nouveau post LinkedIn","formDescription":"Ce formulaire a pour but de recueillir les informations afin de créer un post LinkedIn sur la thématique de votre choix.","formFields":{"values":[{"fieldLabel":"Sujet","placeholder":"Le titre ou le thème du post","requiredField":true},{"fieldLabel":"Mots-clés ou hashtags (optionnel)","placeholder":"Des mots-clés ou des hashtags à inclure dans le post","requiredField":"={{ false }}"},{"fieldLabel":"Lien (optionnel)","placeholder":"=L'URL d'un site web à promouvoir"}]},"responseMode":"lastNode","options":{"buttonLabel":"Générer le post"}},"id":"6ebae538-4512-4dd8-9e2b-3549dc945811","name":"Idée de post","type":"n8n-nodes-base.formTrigger","position":[0,0],"webhookId":"0775e586-7829-4b61-be56-937c981d4f78","typeVersion":2.2},{"parameters":{"documentId":{"__rl":true,"value":"1LsDz1n3b4AGMcDNDNAsSfnGkiRyPnjeHIucFiyp2zWQ","mode":"list","cachedResultName":"Prompt LinkedIn posts Demo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LsDz1n3b4AGMcDNDNAsSfnGkiRyPnjeHIucFiyp2zWQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LsDz1n3b4AGMcDNDNAsSfnGkiRyPnjeHIucFiyp2zWQ/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[280,0],"id":"cefc835f-6eda-40bb-960f-896c7c81b7db","name":"Récupérer prompt","credentials":{"googleSheetsOAuth2Api":{"id":"iOtCHKqdTPOPGDhH","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=- Sujet / Thème du post : `{{ $('Idée de post').item.json.Sujet }}`\n- Mots-clés / Axes de contenu (facultatif): `{{ $('Idée de post').item.json['Mots-clés ou hashtags (optionnel)'] }}`\n- Liens (facultatif) : `{{ $('Idée de post').item.json['Lien (optionnel)'] }}`","options":{"systemMessage":"={{ $json.Prompt }}"}},"id":"dc7d2b2b-273b-432b-8298-1c9a602e4d3e","name":"Générateur de posts","type":"@n8n/n8n-nodes-langchain.agent","position":[560,0],"retryOnFail":true,"typeVersion":1.7},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{"responseFormat":"text"}},"id":"b02a59fb-957b-4358-b4f2-9e2efcd53946","name":"gpt-4o LLM","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[500,200],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"RgYZW8U9XwYGxvB7","name":"OpenAi account"}}},{"parameters":{"formTitle":"Feedback Form","formDescription":"Ce formulaire a pour but de donner vos retours concernant le dernier post généré. Ces retours seront pris en compte pour améliorer le prompt qui sert à générer le contenu.","formFields":{"values":[{"fieldLabel":"Accroche (hook)","fieldType":"textarea","placeholder":"Le début attire-t-il l’attention ? Est-il percutant ou original ?"},{"fieldLabel":"Call-to-action (CTA)","fieldType":"textarea","placeholder":"L’appel à l’action est-il clair, motivant et pertinent ?"},{"fieldLabel":"Valeur du post","fieldType":"textarea","placeholder":"Est-ce que le texte communique clairement ce que le lecteur va apprendre ou gagner ?"},{"fieldLabel":"Ton / style","fieldType":"textarea","placeholder":"Le ton est-il professionnel, fluide et adapté à l’audience ciblée ?"},{"fieldLabel":"Longueur / concision","fieldType":"textarea","placeholder":"Le texte est-il trop long, trop court, ou bien dosé ?"},{"fieldLabel":"Originalité / non-redondance","fieldType":"textarea","placeholder":"Le message apporte-t-il quelque chose de nouveau ou semble-t-il réchauffé ?"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,400],"id":"8a5e9e00-283c-4907-935b-09816bf0bd20","name":"Feedback","webhookId":"b10d1bae-95a7-4165-9f9b-8d2305032002"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Tu es une IA spécialisée dans l'optimisation de prompts pour la génération de contenu.\n\nContexte : Un ancien prompt a été fourni à une IA pour générer un post LinkedIn. L'utilisateur a donné des retours sur ce post, suggérant des améliorations ou des ajustements à apporter au contenu généré. \n\nTa mission est de générer un nouveau prompt pour l'IA chargée de rédiger le post, en tenant compte des retours et ajustements fournis. Le but est de **mettre à jour l'ancien prompt** de manière à ce qu'il réponde mieux aux attentes de l'utilisateur et soit plus efficace dans la rédaction du post.\n\nConsignes :\n- L’ancien prompt doit être révisé en fonction des retours de l’utilisateur.\n- Tu peux ajouter des éléments au prompt pour mieux guider l’IA dans la création du post (par exemple, des précisions sur le ton, la structure, les objectifs, etc.).\n- Tu peux supprimer ou modifier les parties du prompt qui ne sont plus pertinentes ou qui ne répondent plus aux attentes exprimées par l'utilisateur.\n- Le résultat doit être un prompt **révisé et optimisé**, prêt à être utilisé pour la génération du post.\n- Assure-toi que ce nouveau prompt soit clair, concis, et qu’il maximise les chances de produire un post engageant et pertinent.\n\nLe but est que l’IA qui rédige le post puisse comprendre précisément ce qui est attendu, tout en ayant la liberté de créer un contenu autonome et de qualité.\n\nTu peux changer la structure globale pour mieux exprimer les besoins, l'essentiel est que les idées principales restent.\n\nNe génère que le nouveau prompt (pas de phrase d'introduction comme \"Voici le nouveau prompt\" ni de conclusion).\n\nVoici l'ancien prompt à revoir :\n\"{{ $json.Prompt }}\"","role":"system"},{"content":"=Remarques :\n- Accroche (hook) : {{ $('Feedback').item.json['Accroche (hook)'] }}\n- Call-to-action : {{ $('Feedback').item.json['Call-to-action (CTA)'] }}\n- Valeur du post : {{ $('Feedback').item.json['Valeur du post'] }}\n- Ton/style : {{ $('Feedback').item.json['Ton / style'] }}\n- Longueur/concision : {{ $('Feedback').item.json['Longueur / concision'] }}\n- Originalité : {{ $('Feedback').item.json['Originalité / non-redondance'] }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[560,400],"id":"6eb63429-44b9-4bd0-ab01-c6f9ba472528","name":"Optimisation du prompt","credentials":{"openAiApi":{"id":"RgYZW8U9XwYGxvB7","name":"OpenAi account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1LsDz1n3b4AGMcDNDNAsSfnGkiRyPnjeHIucFiyp2zWQ","mode":"list","cachedResultName":"Prompt LinkedIn posts Demo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LsDz1n3b4AGMcDNDNAsSfnGkiRyPnjeHIucFiyp2zWQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1j7t2WVNczLB6-K26hZUosNxOpVF-9cvqYf7e36oaA_w/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Prompt":"={{ $json.message.content }}","row_number":"2"},"matchingColumns":["row_number"],"schema":[{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1020,400],"id":"a5f45ea4-cc25-4ab8-9ffe-6bb675945688","name":"Update prompt","credentials":{"googleSheetsOAuth2Api":{"id":"iOtCHKqdTPOPGDhH","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1LsDz1n3b4AGMcDNDNAsSfnGkiRyPnjeHIucFiyp2zWQ","mode":"list","cachedResultName":"Prompt LinkedIn posts Demo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LsDz1n3b4AGMcDNDNAsSfnGkiRyPnjeHIucFiyp2zWQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LsDz1n3b4AGMcDNDNAsSfnGkiRyPnjeHIucFiyp2zWQ/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[280,400],"id":"5d55e4d0-deab-446a-bd97-52636f4fc9a5","name":"Récupérer prompt actuel","credentials":{"googleSheetsOAuth2Api":{"id":"iOtCHKqdTPOPGDhH","name":"Google Sheets account"}}},{"parameters":{"chatId":"[L'ID du Chat avec votre Bot Telegram]","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1020,0],"id":"ccec99b0-9c7b-4586-9c80-bb7c365f91c4","name":"Telegram","webhookId":"37ba29b2-a960-4fd3-90a6-bdcbda921623","credentials":{"telegramApi":{"id":"Xh2vjeC2SZMi8i59","name":"Telegram account"}}}],"connections":{"Idée de post":{"main":[[{"node":"Récupérer prompt","type":"main","index":0}]]},"Récupérer prompt":{"main":[[{"node":"Générateur de posts","type":"main","index":0}]]},"Générateur de posts":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"gpt-4o LLM":{"ai_languageModel":[[{"node":"Générateur de posts","type":"ai_languageModel","index":0}]]},"Feedback":{"main":[[{"node":"Récupérer prompt actuel","type":"main","index":0}]]},"Optimisation du prompt":{"main":[[{"node":"Update prompt","type":"main","index":0}]]},"Récupérer prompt actuel":{"main":[[{"node":"Optimisation du prompt","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"398ab6eb-de4e-4fbd-aeb5-43e699e82083","triggerCount":2,"tags":[]}]